.container.cabinet {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: grid;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container.cabinet.driver.form,
.container.cabinet.common {
    grid-template-rows: 10% 5% 15% 1fr;
    grid-template-columns: 1fr;
}

.container.cabinet.driver.card {
    grid-template-rows: 10% 5% 1fr 7%;
    grid-template-columns: 1fr;
}

.container.cabinet.driver.form p[id=warning],
.container.cabinet.common p[id=warning] {
    grid-row: 3 / 4;
    justify-self: center;
    text-align: center;
    width: 85%;
    font-family: "FuturaDemiC";
    font-size: 16px;
    color: #9B5E5D;
}

.container.cabinet.common .cabinet__form__client-info,
.container.cabinet.driver.form .cabinet__driver__form__create-driver {
    grid-row: 4 / 5;
    width: 80%;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
}

.container.cabinet.driver.form .cabinet__driver__form__create-driver input,
.container.cabinet.common .cabinet__form__client-info input {
    margin-bottom: 5px;
}

.container.cabinet.driver.form .cabinet__driver__form__create-driver .input__common__submit,
.container.cabinet.common .cabinet__form__client-info .input__common__submit {
    margin-top: 20px;
}
