.container.cabinet {
    width: 100vw;

    display: grid;
    height: 80vh;

    justify-content: center;
    align-content: center;
    align-items: center;
    
    overflow: hidden;
}

.container.cabinet::-webkit-scrollbar {
    display: none;
}

.container.cabinet {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.container.cabinet.common,
.container.cabinet.client {
    grid-template-rows: 10% 18% 72%;
    grid-template-columns: 1fr;
}

.container.cabinet.driver.form,
.container.cabinet.company.form {
    grid-template-rows: 10% 60px 18% 1fr;
}

.container.cabinet.company.card,
.container.cabinet.driver.card {
    grid-template-rows: 10% 60px 1fr;
}

.container.cabinet.company.card,
.container.cabinet.driver.card,
.container.cabinet.driver.form,
.container.cabinet.company.form 
{
    grid-template-columns: 1fr;
    align-content: flex-start;
    
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.container.cabinet.driver.form p[id=warning],
.container.cabinet.company.form p[id=warning]
{
    grid-row: 3 / 4;
}
.container.cabinet.common p[id=warning],
.container.cabinet.client p[id=warning] {
    grid-row: 2 / 3;
}

.container.cabinet.driver.form p[id=warning],
.container.cabinet.company.form p[id=warning],
.container.cabinet.common p[id=warning],
.container.cabinet.client p[id=warning] {
    justify-self: center;
    text-align: center;
    width: 85%;
    font-family: "FuturaDemiC";
    font-size: 16px;
    color: #9B5E5D;
}

.container.cabinet.company.form .cabinet__company__form__company-info,
.container.cabinet.driver.form .cabinet__driver__form__driver-info,
.container.cabinet.common .cabinet__form__client-info {
    width: calc(80% - 15px);
    margin-right: 15px;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
}

.container.cabinet.company.form .cabinet__company__form__company-info {
    padding-bottom: 10vh;
}

.container.cabinet.company.form .cabinet__company__form__company-info
.container.cabinet.driver.form .cabinet__driver__form__driver-info {
    grid-row: 4 / 5;
}
.container.cabinet.common .cabinet__form__client-info {
    grid-row: 3 / 4;
}

.container.cabinet.company.form .cabinet__company__form__company-info input,
.container.cabinet.driver.form .cabinet__driver__form__driver-info input,
.container.cabinet.common .cabinet__form__client-info input {
    margin-bottom: 5px;
}

.container.cabinet.company.form .cabinet__company__form__company-info .input__common__submit,
.container.cabinet.driver.form .cabinet__driver__form__driver-info .input__common__submit,
.container.cabinet.common .cabinet__form__client-info .input__common__submit {
    margin-top: 20px;
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .container.cabinet {
        width: 95%;
    }

    .container.cabinet.common p[id=warning],
    .container.cabinet.client p[id=warning],
    .container.cabinet.driver.form p[id=warning]
    .container.cabinet.company.form p[id=warning] {
        width: 95%;
        font-size: 20px;
    }
}

 /* ADAPTIVE 1024,1280 */
@media (min-width: 1024px) and (max-width: 1280px) {
    .container.cabinet {
        width: 65%;
    }

    .container.cabinet.common p[id=warning],
    .container.cabinet.client p[id=warning],
    .container.cabinet.driver.form p[id=warning],    
    .container.cabinet.company.form p[id=warning] {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1337,1440px */
@media (min-width: 1281px) and (max-width: 1535px) {
    .container.cabinet {
        width: 50%;
    }
    

    .container.cabinet.common p[id=warning],
    .container.cabinet.client p[id=warning],
    .container.cabinet.driver.form p[id=warning],
    .container.cabinet.company.form p[id=warning] {
        width: 100%;
        font-size: 22px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.cabinet {
        width: 45%;
    }
    
    .container.cabinet.common p[id=warning],
    .container.cabinet.client p[id=warning],
    .container.cabinet.driver.form p[id=warning],
    .container.cabinet.company.form p[id=warning] {
        width: 100%;
        font-size: 24px;
    }
}
