.container.create-transport {
    width: 100vw;
    height: 80vh;

    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.container.create-transport .create-transport__form__upload-cover,
.container.create-transport .create-transport__form__additional-info,
.container.create-transport .create-transport__form__create-transport {
    width: 80%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.create-transport__choice-owner {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 150px);
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.create-transport__choice-owner p {
    width: 100%;
    height: calc(100% - 15px);
    font-size: 16px;
    color: #6e6e6e;
    border: 1px solid #262626;
    border-radius: 10px;
    font-family: "FuturaDemic";

    display: grid;
    justify-items: center;
    align-items: flex-end;
    padding-bottom: 15px;

    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}
.create-transport__choice-owner p:hover {
    color: #fba333;
    border: 1px solid #fba333;
}

.create-transport__choice-owner #driver {
    background-image: url("../../../static/icons/default/cabinet.png")
}
.create-transport__choice-owner #driver:hover {
    background-image: url("../../../static/icons/active/cabinet.png")
}

.create-transport__choice-owner #company {
    background-image: url("../../../static/icons/default/company_card.png")
}
.create-transport__choice-owner #company:hover {
    background-image: url("../../../static/icons/active/company_card.png")
}

.container.create-transport .create-transport__form__upload-cover input,
.container.create-transport .create-transport__form__additional-info input,
.container.create-transport .create-transport__form__create-transport input {
    margin-bottom: 5px;
}

.container.create-transport .create-transport__form__upload-cover .input__common__submit,
.container.create-transport .create-transport__form__additional-info .input__common__submit,
.container.create-transport .create-transport__form__create-transport .input__common__submit {
    margin-top: 20px;
}


.container.create-transport .create-transport__form__upload-cover .input__common__submit.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.container.create-transport .create-transport__form__upload-cover .drag-drop .drag-drop__drop-area {
    height: 50vh;
}


@media (max-width: 640px) {
    .container.create-transport .create-transport__form__upload-cover,
    .container.create-transport .create-transport__form__additional-info,
    .container.create-transport .create-transport__form__create-transport {
        padding-bottom: 10vh;
    } 
}

/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .container.create-transport .create-transport__form__upload-cover,
    .container.create-transport .create-transport__form__additional-info,
    .container.create-transport .create-transport__form__create-transport {
        width: 75%;
    }
    .create-transport__choice-owner {
        width: 330px;
        grid-template-rows: repeat(2, 160px);
    }
    
    .create-transport__choice-owner p {
        font-size: 18px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.create-transport .create-transport__form__upload-cover,
    .container.create-transport .create-transport__form__additional-info,
    .container.create-transport .create-transport__form__create-transport {
        width: 50%;
    }
    .create-transport__choice-owner {
        width: 430px;
        grid-template-rows: repeat(2, 200px);
    }
    
    .create-transport__choice-owner p {
        font-size: 20px;
        background-size: 60px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.create-transport .create-transport__form__upload-cover,
    .container.create-transport .create-transport__form__additional-info,
    .container.create-transport .create-transport__form__create-transport {
        width: 45%;
    }
    .create-transport__choice-owner {
        width: 430px;
        grid-template-rows: repeat(2, 200px);
    }
    
    .create-transport__choice-owner p {
        font-size: 24px;
        background-size: 80px;
    }
}
