.container.create-transport {
    width: 100vw;
    height: 80vh;

    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.container.create-transport .create-transport__form__upload-cover,
.container.create-transport .create-transport__form__additional-info,
.container.create-transport .create-transport__form__create-transport {
    width: 80%;
    justify-self: center;
    align-self: center;
    text-align: center;

    padding-bottom: 5vh;
}

.container.create-transport .create-transport__form__upload-cover input,
.container.create-transport .create-transport__form__additional-info input,
.container.create-transport .create-transport__form__create-transport input {
    margin-bottom: 5px;
}

.container.create-transport .create-transport__form__upload-cover .input__common__submit,
.container.create-transport .create-transport__form__additional-info .input__common__submit,
.container.create-transport .create-transport__form__create-transport .input__common__submit {
    margin-top: 20px;
}


.container.create-transport .create-transport__form__upload-cover .input__common__submit.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.container.create-transport .create-transport__form__upload-cover .drag-drop .drag-drop__drop-area {
    height: 50vh;
}