.container.search-transport {
    display: grid;
    padding: 0;
    margin: 0;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-rows: 10% 10% 75% 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.container.search-transport .transports {
    margin-top: 10px;
    overflow: scroll;
    height: 100%;
}