.container.registration {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 25% 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    overflow: hidden;
}

.container.registration .preview-banner__common {
    grid-row: 1/2;
    align-self: flex-end;
}

.container.registration .registration__form {
    margin-top: 30px;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    width: 80%;
    text-align: center;
}

.container.registration .registration__form__confirm-email__error-text,
.container.registration .registration__form__create-new-user__error-text {
    display: block;
    height: 30px;
    width: 80%;
    margin-left: 10%;
}

.container.registration .registration__form__confirm-email__error-text p,
.container.registration .registration__form__create-new-user__error-text p {
    color: #9B5E5D;
    font-size: 16px;
    font-family: "FuturaDemiC";
}

.container.registration .registration__form input  {
    margin-bottom: 5px;
}

.container.registration .registration__form .input__common__submit   {
    margin-top: 20px;
}

.container.registration .registration__footer {
    grid-row: 3/4;
}

.container.registration .registration__form__confirm-email label {
    color: #535353;
    font-size: 16px;
    font-family: 'FuturaBookC';
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .container.registration {
        width: 80vw;
    }
    
    .container.registration .registration__form__confirm-email label,
    .container.registration .registration__form__confirm-email__error-text p,
    .container.registration .registration__form__create-new-user__error-text p {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.registration {
        width: 50vw;
    }

    .container.registration .registration__form__confirm-email label,
    .container.registration .registration__form__confirm-email__error-text p,
    .container.registration .registration__form__create-new-user__error-text p {
        font-size: 22px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.registration {
        width: 45vw;
    }
    .container.registration .registration__form__confirm-email label,
    .container.registration .registration__form__confirm-email__error-text p,
    .container.registration .registration__form__create-new-user__error-text p {
        font-size: 24px;
    }
}