.transport.notification {
    height: 180px;
    grid-template-rows: 130px 50px;
    grid-template-columns: 200px 1fr;
}

.transport.notification .photo {
    height: 180px;
    width: 200px;
    background-size: 200px 180px; 
}

.transport .card {
    grid-template-rows: 30px 100px 50px;

}

.transport.notification .card .body {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.transport.notification .card .controls {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #2e2e2e;
}


.transport.notification .card .controls .control_icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    box-shadow: 5px 2px 0px -4px #2e2e2e;
    background-size: 30px 30px;
}

.transport.notification .card .controls a[id=contacts] {
    background-image: url("../../../../static/icons/default/call.png");
}
.transport.notification .card .controls a[id=contacts]:hover {
    background-image: url("../../../../static/icons/active/call.png");
}

.transport.notification .card .controls div[id=info] {
    background-image: url("../../../../static/icons/default/description.png");
}
.transport.notification .card .controls div[id=info]:hover {
    background-image: url("../../../../static/icons/active/description.png");
}

.transport.notification .card .controls div[id=accept] {
    background-image: url("../../../../static/icons/accept.png");
}

.transport.notification .card div[id=reject] {
    background-image: url("../../../../static/icons/reject.png");
    height: 35px;
    width: 35px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    background-color: #222222;
}

.transport.notification .transport_card {
    height: 180px;
    width: 95vw;
}
