.switch {
    position: relative;
}


.switch p {
    margin: 0;
    padding: 0;
    color: #FBFBFB;
    font-family: 'FuturaDemiC';
    cursor: pointer; 
}


.switch p a {
    text-decoration: none;
    color: #FBFBFB;
}

.switch .switch__item.active,
.switch .switch__item.active p {
    color: #fba333;
    opacity: 1;
}

.switch .switch__item.disable,
.switch .switch__item.no-active {
    opacity: 0.3;
}

.switch .switch__item.disable {
    pointer-events: none;
}
