
.notification_switches  {
    text-align: center;
    justify-self: flex-start;
    display: grid;
    grid-template-columns: 100px 100px;
}

.notification_switches div {
    display: grid;
    grid-template-columns: 70% 30%;
}

.notification_switches div p {
    color: #FBFBFB;
    font-size: 18px;
    font-family: 'FuturaDemiC';

}

.notification_switches #app {
    justify-self: flex-start;
}

.notification_switches .active p {
    color: #fba333;
    opacity: 1;
}

.notification_switches .no_active p {
    color: #535353
}


.notification_switches .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #9B5E5D;
    
}
.notification_switches .circle p {
    margin: 0;
    padding: 0;
    color: #FBFBFB;
    font-size: 16px;
    font-family: 'FuturaMediumC';
    margin-left: 5px;
    margin-top: 2px;
    
}
