/* ABOUT PAGE */
.container.landing .about {
    grid-template-rows: auto 1fr;

    height: 70vh;
}

.container.landing .about p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.container.landing .about .about__title #header {
    font-size: 30px;
    color: #fba333;
    font-family: "FuturaDemiC";
}

.container.landing .about .about__title #description {
    font-size: 18px;
    color: #535353;
    font-family: "FuturaDemiC";
}

.container.landing .about .about__title #info {
    font-size: 14px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
    margin-top: 10px;
    border-bottom: 1px solid #262626;
    padding-bottom: 20px;
}

.container.landing .about .about__video {
    margin-top: 20px;
}

.container.landing .about .about__video p {
    font-size: 20px;
    color: #fba333;
    font-family: "FuturaDemiC";
}

.container.landing .about .about__video iframe {
    height: 80%;
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    opacity: 0.8;
}

@media screen and (min-width:361px) and (max-width:400px) {
    .container.landing .about .about__title #header {
        font-size: 32px;
    }
    .container.landing .about .about__title #description {
        font-size: 20px;
    }
    .container.landing .about .about__title #info {
        font-size: 16px;
    }
    .container.landing .about .about__video p {
        font-size: 22px;
    }
}

@media screen and (min-width:401px) and (max-width:640px) {
    .container.landing .about .about__title #header {
        font-size: 36px;
    }
    .container.landing .about .about__title #description {
        font-size: 22px;
    }
    .container.landing .about .about__title #info {
        font-size: 16px;
    }
    .container.landing .about .about__video p {
        font-size: 24px;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .container.landing .about {
        height: 75vh;
    }
    .container.landing .about .about__title #header {
        font-size: 44px;
    }
    .container.landing .about .about__title #description {
        font-size: 28px;
    }
    .container.landing .about .about__title #info {
        font-size: 24px;
    }
    .container.landing .about .about__video p {
        font-size: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1535px) {
    .container.landing .about {
        height: 75vh;
        width: 65%;
    }
    .container.landing .about .about__title #header {
        font-size: 42px;
    }
    .container.landing .about .about__title #description {
        font-size: 30px;
    }
    .container.landing .about .about__title #info {
        font-size: 26px;
    }
    .container.landing .about .about__video p {
        font-size: 32px;
    }
}

  /* ADAPTIVE 1536px and more */
  @media (min-width: 1536px) {
    .container.landing .about {
        height: 80vh;
        width: 50%;
    }
    .container.landing .about .about__title #header {
        font-size: 48px;
    }
    .container.landing .about .about__title #description {
        font-size: 32px;
    }
    .container.landing .about .about__title #info {
        font-size: 28px;
    }
    .container.landing .about .about__video p {
        font-size: 34px;
    }
 }