.container.landing {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
    justify-items: center;
}

.container.landing .page {
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 0;

    display: grid;
    justify-content: center;
    align-content: flex-start;
}

.container.landing .page::-webkit-scrollbar {
    display: none;
}

.container.landing .page {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container.landing .page .footer {
    position: fixed;
    height: 10vh;
    width: 95%;

    bottom: 0;
    left: 2.5%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    color: #fba333;
    font-family: "FuturaDemiC";
    font-size: 14px;
}

.container.landing .page .footer #preview-btn {
    grid-column: 3 / 4;
    align-self: center;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-self: flex-end;

    border: 2px solid #fba333;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-image: url('../../../../static/icons/arrow_up.png');
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
}


.container.landing .page .footer #about-btn {
    grid-column: 2 / 3;
}

.container.landing .preview.page .footer #contacts-btn {
    grid-column: 3 / 4;
}

.container.landing .about.page .footer #faq-btn,
.container.landing .faq.page .footer #contacts-btn {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}


/* ADAPTIVE 375px */
@media screen and (min-width:361px) and (max-width:400px){
    .container.landing .page .footer {
        font-size: 15px;
    }
}

 /* ADAPTIVE 414-600px */
 @media screen and (min-width:401px) and (max-width: 640px){
    .container.landing .page .footer {
        font-size: 16px;
    }
}

 /* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1024px) {
    .container.landing .page .footer {
        font-size: 18px;
    }

    .container.landing .page .footer #preview-btn {
        height: 45px;
        width: 45px;
        background-size: 35px 35px;
    }
}

  /* ADAPTIVE 1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.landing .page .footer {
        font-size: 22px;
    }
    .container.landing .page .footer #preview-btn {
        height: 50px;
        width: 50px;
        background-size: 40px 40px;
    }
}

  /* ADAPTIVE 1536px and more */
 @media (min-width: 1536px) {
    .container.landing .page .footer {
        font-size: 24px;
    }
    .container.landing .page .footer #preview-btn {
        height: 55px;
        width: 55px;
        background-size: 45px 45px;
    }
 }
