.container.notifications {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 10% 10% 1fr;
    justify-content: center;
    align-content: flex-start;
    overflow: scroll;
}

.container.notifications .notifications__apps,
.container.notifications .notifications__transports {
    width: 95%;
    height: 100%;
    justify-self: center;
    overflow-y: scroll;
    overflow-x: hidden;
}


.container.notifications .notifications__apps .ticket__notification {
    margin-bottom: 10px;
}