.container.notifications {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 10% 10% 1fr;
    justify-content: center;
    align-content: flex-start;
    overflow: scroll;
}

.container.notifications .notifications__driver__applications, 
.container.notifications .notifications__client__applications {
    width: 95%;
    height: 85%;
    justify-self: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
