.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 10%;
    justify-items: center;
    align-items: stretch;
}
@media (max-height: 580px) {
    .container {
        justify-items: center;
        align-items: stretch;
    }
}

/* HEADER */
.container .header {
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container .header a div img {
    width: 120px;
    height: 25px;
}

@media (max-height: 680px) {
    .container .header a div img {
        width: 100px;
        height: 20px;
    }
}
@media only screen and (min-height:680px) and (max-height:736px) {
    .container .header a div img {
        width: 110px;
        height: 25px;
    }
}



.content {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 5% 90% 5%;
    justify-self: center;
    justify-items: center;
    align-self: stretch;
    margin-top: 10px;
}

.content div {
    grid-column: 2 / 3;
    width: 100%;
}

.content div form input {
    width: 90%;
    background: transparent;
    border: 2px solid #4e4955;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-left: 15px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 18px;
}


.content div form input[id=count] {
    width: 30%;
    background: transparent;
    border: 2px solid #4e4955;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 10px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 18px;
}
.content div form input[id=count]::placeholder {
    color:#4e4955;
    font-size: 18px;
}

.content div form input[id=gos_number] {
    width: 55%;
    background: transparent;
    border: 2px solid #4e4955;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-left: 15px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 18px;
}


.content div form input[type=file] {
    width: 95%;
    background: transparent;
    border: 2px solid #4e4955;
    height: 25vh;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 18px;
}


.content div form textarea {
    width: 95%;
    background: transparent;
    border: 2px solid #4e4955;
    height: 25vh;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 18px;
}
.content div form textarea::placeholder {
    color:#4e4955;
    font-size: 18px;
}

.content div form input::placeholder {
    color:#4e4955;
    font-size: 18px;
}

.content div form p {
    color: #aea9af;
    font-size: 20px;
    font-family: 'FuturaDemic';
}
.content div form p[id=recommended_price] {
    padding: 0;
    margin: 0;
    text-align: right;
    color: #fba333;
    font-size: 16px;
    font-family: 'FuturaDemic';
}

.content div form input[type=submit] {
    background-color: #a8a0ab;
    width: 50%;
    height: 55px;
    border-radius: 12px;
    margin-top: 30px;
    border: none;
    font-family: 'FuturaDemic';
    font-size: 18px; 
    color: black;
}


@media (max-height: 580px) {
    .content div form input {
        height: 45px;
        font-size: 14px;
        border-radius: 8px;
    }
    .content div form input[id=count] {
        height: 45px;
        width: 32%;
        font-size: 14px;
        border-radius: 8px;
    }
    .content div form input[id=gos_number] {
        height: 45px;
        width: 50%;
        font-size: 14px;
        border-radius: 8px;
    }
    .content div form input::placeholder {
        color:#4e4955;
        font-size: 14px;
    }
    .content div form p {
        font-size: 18px;
    }
    .content div form p[id=recommended_price] {
        font-size: 14px;
    }
    .content div form input[type=submit] {
        height: 50px;
        margin-top: 10px;
        font-size: 14px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .content div form input {
        height: 50px;
        font-size: 16px;
        border-radius: 10px;
    }
    .content div form input[id=count] {
        height: 50px;
        width: 30%;
        font-size: 16px;
        border-radius: 10px;
    }
    .content div form input[id=gos_number] {
        height: 50px;
        width: 50%;
        font-size: 16px;
        border-radius: 10px;
    }

    .content div form input::placeholder {
        color:#4e4955;
        font-size: 16px;
    }
    .content div form input[id=count]::placeholder {
        color:#4e4955;
        font-size: 16px;
    }
    .content div form p {
        font-size: 18px;
    }
    .content div form input[type=submit] {
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }
}

.container .footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .footer .navbar {
    background-color: #413a46;
    height: 9vh;
    width: 100vw;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr
}
@media (max-height: 580px) {
    .container .footer .navba  {
        height: 7vh;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navba  {
        height: 8vh;
    }
}

.container .footer .navbar .nav_btn {
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
@media (max-height: 580px) {
    .container .footer .navbar .nav_btn  {
        width: 25px;
        height: 25px;
        margin-top: 0px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar .nav_btn  {
        width: 30px;
        height: 30px;
        margin-top: 0px;
    }
}

.container .footer .navbar img {
    width: 35px;
    height: 35px;
}

@media (max-height: 580px) {
    .container .footer .navbar img  {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar img  {
        width: 30px;
        height: 30px;
    }
}

.container .footer #add {
    position: absolute; left: 50%; transform: translate(-50%, -50%);
    z-index: 100;
}

.container .footer #add img {
    width: 50px;
    height: 50px;
}

@media (max-height: 580px) {
    .container .footer #add img  {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer #add img  {
        width: 40px;
        height: 40px;
    }
}