.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 15% 1fr 9%;
    justify-items: center;
    align-items: stretch;
}
@media (max-height: 580px) {
    .container {
        grid-template-rows: 10% 13% 1fr 9%;
        justify-items: center;
        align-items: stretch;
    }
}

/* HEADER */
.container .header {
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container .header a div img {
    width: 120px;
    height: 25px;
}

@media (max-height: 680px) {
    .container .header a div img {
        width: 100px;
        height: 20px;
    }
}
@media only screen and (min-height:680px) and (max-height:736px) {
    .container .header a div img {
        width: 110px;
        height: 25px;
    }
}

.search_filters {
    padding: 0;
    margin: 0;
}

.search_filters p {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #aea9af;
    font-size: 18px;
    font-family: 'FuturaDemic';
    display: inline;
    float: left;
}

.search_filters p[id=text] {
    margin-left: 10px;
}
.search_filters div[id=sorted] {
    float: right;
    margin-top: 1px;
}
.search_filters div[id=sorted] p {
    color: #636363;
    font-size: 16px;
    font-family: 'FuturaDemic';
}
.search_filters div[id=sorted] p[id=data] {
    margin-left: 10px;
    margin-right: 20px;
}
.search_filters div[id=sorted] p[id=price] {
    color: #fba333;
 
}

@media (max-height: 580px) {
    .search_filters p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .search_filters div[id=sorted] p {
        font-size: 16px; 
    }
    .search_filters div[id=sorted] p[id=data] {
        margin-left: 5px;
        margin-right: 10px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .search_filters p {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 13px;
    }
    .search_filters div[id=sorted] p {
        font-size: 16px; 
    }
    .search_filters div[id=sorted] p[id=data] {
        margin-left: 7px;
        margin-right: 15px;
    }
}

.search_filters div[id=filters] {
    display: grid;
    width: 100vw;
    grid-template-columns: 55% 40%;
    justify-content: center;
    gap: 5px;
}

.search_filters div[id=filters] input {
    background: transparent;
    border: 2px solid #4e4955;
    height: 50px;
    border-radius: 12px;
    padding-left: 15px;
    color:white;
    font-family: 'FuturaDemic';
    font-size: 16px;
}
@media (max-height: 580px) {
    .search_filters div[id=filters] input {
        height: 45px;
        font-size: 14px;
        border-radius: 8px;
    }
}

.search_filters div[id=filters] input[id=city] {
    grid-column: 1 / 2;
}

.search_filters div[id=filters] input[id=app_type] {
    grid-column: 2 / 3;
}

.search_filters div[id=filters] input::placeholder {
    color:#4e4955;
    font-size: 16px;
}
@media (max-height: 580px) {
    .search_filters div[id=filters] input::placeholder {
        font-size: 14px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .search_filters div[id=filters] input {
        height: 45px;
        font-size: 14px;
        border-radius: 10px;
    }
    .search_filters div[id=filters] input::placeholder {
        color:#4e4955;
        font-size: 14px;
    }
}

.transports {
    display: inline;
    overflow: scroll;
    margin-top: 10px;
    width: 100vw;
}

.transports div[id=info_block] {
    display: none;
    width: 100vw;
    height: 55vh;
    position: absolute;
    background-color: #473c4b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    z-index: 1;
    margin-bottom: 18%;
}
@media (max-height: 736px) {
    .transports div[id=info_block] {
        margin-bottom: 15%
    }
}



.transports div[id=info_block] div[id=header] {
    display: grid;
    grid-template-columns: 80% 20%;
}

.transports div[id=info_block] div[id=header] p[id=text] {
    margin-top: 20px;
    color:whitesmoke;
    font-size: 20px;
    font-family: 'FuturaDemiC';
}

@media (max-height: 580px) {
    .transports div[id=info_block] div[id=header] p[id=text] {
        margin-top: 15px;
        font-size: 16px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports div[id=info_block] div[id=header] p[id=text] {
        margin-top: 20px;
        font-size: 17px;
    }
}

.transports div[id=info_block] p {
    margin-top: 0px;
    margin-left: 15px;
    text-align: left;
    color: #a8a0ab;
    font-size: 16px;
    font-family: 'FuturaMediumC';
    border-bottom: 1px solid rgba(155, 149, 157, 0.1);
    padding-bottom: 7px;
    z-index: 1;
}

@media (max-height: 580px) {
    .transports div[id=info_block] p {
        font-size: 13px;
        padding-bottom: 3px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports div[id=info_block] p {
        margin-left: 10px;
        font-size: 14px;
        border-bottom: 1px solid rgba(155, 149, 157, 0.1);
        padding-bottom: 5px;
    }
}

.transports div[id=info_block] p span {
    color: whitesmoke;
    font-size: 16px;
    font-family: 'FuturaDemiC';
}

@media (max-height: 580px) {
    .transports div[id=info_block] p span {
        font-size: 12px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports div[id=info_block] p span {
        font-size: 14px;
    }
}
.transports div[id=info_block] p[id=desc] {
    margin-right: 10px;
}

.transports div[id=info_block] p[id=desc] span {
    color: whitesmoke;
    font-size: 14px;
    font-family: 'FuturaMediumC';
}
@media (max-height: 580px) {
    .transports div[id=info_block] p[id=desc] span {
        font-size: 11px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports div[id=info_block] p[id=desc] span {
        font-size: 12px;
    }
}


.transports div[id=info_block] div[id=header] div[id=icon] {
    background-image: url(../../../static/icons/arrow_down_yellow.png);
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
    margin-top: 5px;
}
@media (max-height: 580px) {
    .transports div[id=info_block] div[id=header] div[id=icon] {
        background-size: 25px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports div[id=info_block] div[id=header] div[id=icon] {
        background-size: 30px;
    }
}

@media (max-height: 580px) {
    .transports {
        margin-top: 30px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports {
        margin-top: 20px;
    }
}

.transports .transport {
    border-top: 1px solid #4e4955;
    height: 200px;
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 10px;
}
@media (max-height: 580px) {
    .transports .transport {
        height: 160px;
        padding: 0;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports .transport {
        height: 180px;
        padding: 0;
    }
}

.transports .transport:hover {
    border-top: 1px solid #fba333;
}
.transports .transport:hover .info p[id=city] {
    color: #fba333;
}

.transports .transport:hover .info p[id=model] {
    color: #fba333;
}

.transports .transport .cover {
    background-position: center;
    background-size: 200px 170px;
    background-repeat: no-repeat;
    border-radius: 10%;
}
@media (max-height: 580px) {
    .transports .transport .cover {
        background-position: top;
        margin-top: 10px;
        background-size: 160px 140px;
        border-radius: 3%;

    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports .transport .cover {
        background-position: top;
        margin-top: 10px;
        background-size: 180px 160px;
        border-radius: 4%;

    }
}


.transports .transport .info {
    margin-top: 10px;
    width: 95%;
}
@media (max-height: 580px) {
    .transports .transport .info {
        margin-top: 5px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports .transport .info {
        margin-top: 8px;
    }
}

.transports .transport .info p {
    padding: 0;
    margin: 0;
    margin-top: 2px;
    text-align: left;
    color: #636363;
    font-size: 14px;
    font-family: 'FuturaMediumC';
}

@media (max-height: 580px) {
    .transports .transport .info p {
        font-size: 12px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .transports .transport .info p {
        font-size: 13px;
    }
}

.transports .transport .info p[id=city] {
    text-align: right;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 12px;
    font-family: 'FuturaDemiC';
}

@media (max-height: 580px) {
    .transports .transport .info p[id=city] {
        text-align: right;
        margin-top: 15px;
        margin-right: 8px;
        font-size: 10px;
    }
}

.transports .transport .info p span {
    color: white;
    font-size: 14px;
    font-family: 'FuturaDemiC';
}
@media (max-height: 580px) {
    .transports .transport .info p span {
        font-size: 12px;
    }
}

.transports .transport .info p[id=desc] span {
    color: white;
    font-size: 12px;
    font-family: 'FuturaLight';
}
@media (max-height: 580px) {
    .transports .transport .info p[id=desc] span {
        font-size: 10px;
    }
}

.transports .transport .info p[id=model] {
    color: #aea9af;
    font-size: 14px;
    font-family: 'FuturaMediumC';
}
@media (max-height: 580px) {
    .transports .transport .info p[id=model] {
        font-size: 12px;
    }
}


.transports .transport .cover[id=example1] {
    background-image: url(../../../static/examples/bus1_resize.jpg);
}
.transports .transport .cover[id=example2] {
    background-image: url(../../../static/examples/bus2_resize.jpg);
}
.transports .transport .cover[id=example3] {
    background-image: url(../../../static/examples/bus3.jpg);
}
.container .footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .footer .navbar {
    background-color: #413a46;
    height: 9vh;
    width: 100vw;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr
}
@media (max-height: 580px) {
    .container .footer .navba  {
        height: 7vh;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navba  {
        height: 8vh;
    }
}

.container .footer .navbar .nav_btn {
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
@media (max-height: 580px) {
    .container .footer .navbar .nav_btn  {
        width: 25px;
        height: 25px;
        margin-top: 0px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar .nav_btn  {
        width: 30px;
        height: 30px;
        margin-top: 0px;
    }
}

.container .footer .navbar img {
    width: 35px;
    height: 35px;
}

@media (max-height: 580px) {
    .container .footer .navbar img  {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar img  {
        width: 30px;
        height: 30px;
    }
}

.container .footer div[id=add] {
    position: absolute; left: 50%; transform: translate(-50%, -50%);
    z-index: 100;
    width: 55px;
    height: 55px;
    background-color: #a8a0ab;
    border-radius: 50%;
    background-image: url(../../../static/icons/arrow_up.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
@media (max-height: 580px) {
    .container .footer div[id=add] {
        width: 40px;
        height: 40px;
        background-size: 25px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer div[id=add]  {
        width: 45px;
        height: 45px;
        background-size: 25px;
    }
}

.container .footer div[id=add]:hover .dropup-content{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}



.container .footer div[id=add] .dropup-content {
    display: none;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    background-color: #a8a0ab;
    height: 30vh;
    width: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
@media (max-height: 580px) {
    .container .footer div[id=add] .dropup-content {
        width: 40px;
        border-radius: 10px;
    }
}
@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer div[id=add] .dropup-content  {
        width: 45px;
        border-radius: 15px;
    }
}

.container .footer div[id=add]:hover .dropup-content div[id=contacts] {
    background-image: url(../../../static/icons/contacts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.container .footer div[id=add]:hover .dropup-content a[id=create_notify] {
    background-image: url(../../../static/icons/add_application_dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
}

.container .footer div[id=add]:hover .dropup-content div[id=info] {
    background-image: url(../../../static/icons/document_dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}


.container .footer div[id=add]:hover .dropup-content div[id=back] {
    background-image: url(../../../static/icons/arrow_down.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

@media (max-height: 580px) {
    .container .footer div[id=add]:hover .dropup-content div[id=contacts] {
        background-size: 20px;
    }
    .container .footer div[id=add]:hover .dropup-content a[id=create_notify] {
        background-size: 17px;
    }
    .container .footer div[id=add]:hover .dropup-content div[id=info] {
        background-size: 20px;
    }
    .container .footer div[id=add]:hover .dropup-content div[id=back] {
        background-size: 25px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer div[id=add]:hover .dropup-content div[id=contacts] {
        background-size: 22px;
    }
    .container .footer div[id=add]:hover .dropup-content a[id=create_notify] {
        background-size: 19px;
    }
    .container .footer div[id=add]:hover .dropup-content div[id=info] {
        background-size: 22px;
    }
    .container .footer div[id=add]:hover .dropup-content div[id=back] {
        background-size: 27px;
    }
}