
.container.landing .contacts .contacts__form__feedback {
    margin-top: 20px;
    text-align: center;
    width: 80%;

    justify-self: center;
}

.container.landing .contacts .contacts__form__feedback input, 
.container.landing .contacts .contacts__form__feedback textarea {
    margin-bottom: 5px;
} 

.container.landing .contacts .contacts__form__feedback p {
    text-align: right;
    color: #fba333;
    font-family: "FuturaDemiC";
    font-size: 16px;
    margin-bottom: 5px;
}

.container.landing .contacts .contacts__form__feedback .input__common__submit {
    margin-top: 20px;
}

.container.landing .contacts .contacts__form__feedback .drag-drop .drag-drop__drop-area p {
    color: #6e6e6e;
}

@media (min-device-width: 600px) and (max-device-width: 800px) 
and (orientation: portrait) {
    .container.landing .contacts .contacts__form__feedback p {
        font-size: 20px;
    }
}