
.container.landing .contacts .contacts__form__feedback {
    margin-top: 20px;
    text-align: center;
    width: calc(90% - 10px);

    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
}

.container.landing .contacts .contacts__form__feedback .drag-drop {
    justify-self: center;
}

.container.landing .contacts .contacts__form__feedback input, 
.container.landing .contacts .contacts__form__feedback textarea {
    margin-bottom: 5px;
} 

.container.landing .contacts .contacts__form__feedback p {
    text-align: right;
    color: #fba333;
    font-family: "FuturaDemiC";
    font-size: 16px;
    margin-bottom: 5px;
}

.container.landing .contacts .contacts__form__feedback .input__common__submit {
    margin-top: 20px;
}

.container.landing .contacts .contacts__form__feedback .drag-drop .drag-drop__drop-area p {
    color: #6e6e6e;
}

@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .container.landing .contacts .contacts__form__feedback p {
        font-size: 20px;
    }
}

  /* ADAPTIVE 1280,1337,1440px */
  @media (min-width: 1024px) and (max-width: 1535px) {
    .container.landing .contacts .contacts__form__feedback p {
        font-size: 22px;
    }
  }


   /* ADAPTIVE 1536px and more */
 @media (min-width: 1536px) {
    .container.landing .contacts .contacts__form__feedback p {
        font-size: 24px;
    }
 }