body {
    padding: 0;
    margin: 0;
    background-color: beige;
}

.container {
    padding: 0;
    margin: 0;
    background-image: url(../../static/background_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 160px);
    justify-items: center;
    align-items: stretch;
}

.container .ticket {
    margin: 5px;
    background-color: #413a46;
    width: 90vw;
    height: 150px;
    border-radius: 20px;
    position: relative;
}
.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
}

.ticket:hover {
    background-color: #ca8429;
}
.container .ticket:hover .ticket_style {
    opacity: 0.2;
}

.ticket:before {
    background: transparent;
    left: -30px;
}
  
.ticket:after {
right: -30px;
background: transparent;
}

.container .ticket .ticket_style {
    position: absolute;
    width: 80vw;
    height: 150px;
    background-image: url(../../static/examples/russia.png);
    background-size: 80vw 150px;
    background-position-x: center;
    margin-left: 20px;
    opacity: 0.1;
    z-index: 3;
}

.container .ticket .circle {
    position: absolute;
    top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 4;
    overflow:hidden;
}

.container .ticket #left {
    left: -35px;
    background-color: #37313f;
}

.container .ticket #right {
    right: -35px;
    background-color: #3a3442;
}

.ticket-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 35% 20%;
    grid-template-rows: 65% 35%;
}

.ticket-content-wrapper .points {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-right: 0px;
    align-items: flex-end;
    justify-self: flex-end;
}

.ticket-content-wrapper .points p {
    justify-self: end;
    padding: 0;
    margin: 0;
    text-align: center;
}

.ticket-content-wrapper .points .city {
    font-size: 17px;
    font-family: 'FuturaDemiC';
}

.ticket-content-wrapper .points .annotation {
    font-size: 15px;
    font-family: 'FuturaBookC';
    color: gray;
}
.container .ticket:hover .ticket-content-wrapper .points .annotation {
    color: #413a46;
}

.ticket-content-wrapper .points .from {
    padding-left: 10px;
    color: whitesmoke;
}
.ticket-content-wrapper .points .to {
color: #fba333;
}
.container .ticket:hover .ticket-content-wrapper .points .from {
    color: whitesmoke;
}

.container .ticket:hover .ticket-content-wrapper .points .to {
    color: black;
}

.ticket-content-wrapper .data {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;

}
.ticket-content-wrapper .data p {
    font-size: 16px;
    font-family: 'FuturaDemiC';
    color: whitesmoke;
}


.ticket-content-wrapper .info {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 1fr;
    font-size: 14px;
    font-family: 'FuturaBookC';
    color: gray;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}
.container .ticket:hover .ticket-content-wrapper .info {
    color: #3a3442;
}

.ticket-content-wrapper .info p span {
    font-family: 'FuturaDemic';
    color: whitesmoke;
    font-size: 16px;
}

.ticket-content-wrapper .info .type_app {
    text-align: left;
    padding-left: 15px;
}