.container.cabinet.client .cabinet__client__applications {
    grid-row: 3 / 4;
    width: 95%;
    height: 85%;

    align-self: flex-start;
    justify-self: center;
    
    padding-bottom: 10vh;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    -webkit-overflow-scrolling: touch;
}

.container.cabinet.client .cabinet__client__title {
    font-family: "FuturaDemiC";
    font-size: 18px;
    color: #fbfbfb;
    margin-left: 5px;
}