.container.cabinet.client .cabinet__client__applications {
    grid-row: 3 / 4;
    width: 100%;
    height: 85%;

    align-self: flex-start;
    justify-self: center;
    
    padding-bottom: 10vh;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    -webkit-overflow-scrolling: touch;
}

.container.cabinet.client .cabinet__client__applications::-webkit-scrollbar {
    display: none;
}

.container.cabinet.client .cabinet__client__applications {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container.cabinet.client .cabinet__client__title {
    font-family: "FuturaDemiC";
    font-size: 18px;
    color: #fbfbfb;
    margin-left: 5px;
}


@media (min-width: 641px) {
    .container.cabinet.client .cabinet__client__applications {
        padding-bottom: 0;
        height: 100%;
    }
}

/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) {
    .container.cabinet.client .cabinet__client__title {
        font-size: 22px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.cabinet.client .cabinet__client__title {
        font-size: 24px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.cabinet.client .cabinet__client__title {
        font-size: 26px;
    }
}