.container.cabinet.company.card .cabinet__company {
    width: 95%;

    align-self: flex-start;
    justify-self: center;

    display: grid;
    grid-template-rows: 190px 100px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container.cabinet.company.card .cabinet__payment-data {
    grid-row: 1 / 2;
    margin-top: 20px;
} 

.cabinet__company__notify {
    grid-row: 2 / 3;
}

.container.cabinet.company.card .cabinet__company .cabinet__company__notify {
    font-family: "FuturaDemiC";
    font-size: 15px;
    color: #9B5E5D;
    text-align: center;
    align-self: center;
}

.container.cabinet.company.card .cabinet__company .cabinet__company__transports {
    width: 95%;
    height: 100%;
    grid-row: 3 / 4;
    justify-self: center;
    
    overflow: hidden;
}
.container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title a {
    justify-self: flex-end;
    text-decoration: none;
    color: #fba333;
}
.container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title p {
    color: #fbfbfb;
}

.container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title a,
.container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title p {
    font-family: "FuturaDemiC";
    font-size: 18px;
}


@media (max-width: 1023px) {
    .container.cabinet.company.card .cabinet__company .cabinet__company__transports {
        padding-bottom: 10vh;
    }
    .container.cabinet.company.card .cabinet__company .cabinet__company__notify {
        width: 85%;
    }
}

@media (min-width: 1024px) {
    .container.cabinet.company.card .cabinet__company .cabinet__company__notify {
        width: 100%;
    }
}


/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .container.cabinet.company.card .cabinet__company {
        grid-template-rows: 260px 100px 1fr;
    }

    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title a,
    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title p {
        font-size: 22px;
    }
    .container.cabinet.company.card .cabinet__company .cabinet__company__notify {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.cabinet.company.card .cabinet__company {
        grid-template-rows: 280px 110px 1fr;
    }

    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title a,
    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title p {
        font-size: 24px;
    }
    .container.cabinet.company.card .cabinet__company .cabinet__company__notify {
        font-size: 22px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.cabinet.company.card .cabinet__company {
        grid-template-rows: 300px 120px 1fr;
    }

    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title a,
    .container.cabinet.company.card .cabinet__company .cabinet__company__transports .cabinet__company__transports__title p {
        font-size: 26px;
    }
    .container.cabinet.company.card .cabinet__company .cabinet__company__notify {
        font-size: 24px;
    }
}