.container.cabinet.driver.card .cabinet__driver {
    width: 100%;
    height: 100%;

    justify-content: center;
    align-content: center;
    
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    display: grid;
    grid-template-rows: 190px 80px 1fr;
    justify-items: center;
}

.container.cabinet.driver.card .cabinet__driver__payment-data {
    width: 93%;
} 

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__notify {
    font-family: "FuturaDemiC";
    font-size: 16px;
    color: #9B5E5D;
    text-align: center;
    width: 85%;
}

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__transports {
    width: 95%;
    height: 100%;

    padding-bottom: 10vh;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    -webkit-overflow-scrolling: touch;
}

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__transports .cabinet__driver__title {
    font-family: "FuturaDemiC";
    font-size: 18px;
    color: #fbfbfb;
}