.container.cabinet.driver.card .cabinet__driver {
    width: 95%;

    align-self: flex-start;
    justify-self: center;

    display: grid;
    grid-template-rows: 190px 80px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container.cabinet.driver.card .cabinet__driver__payment-data {
    width: 93%;
    grid-row: 1 / 2;
} 

.cabinet__driver__notify {
    grid-row: 2 / 3;
}

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__notify {
    font-family: "FuturaDemiC";
    font-size: 16px;
    color: #9B5E5D;
    text-align: center;
    width: 85%;
}

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__transports {
    width: 95%;
    height: 100%;
    grid-row: 3 / 4;
    justify-self: center;
    
    overflow-x: hidden;
    padding-bottom: 10vh;
}

.container.cabinet.driver.card .cabinet__driver .cabinet__driver__transports .cabinet__driver__title {
    font-family: "FuturaDemiC";
    font-size: 18px;
    color: #fbfbfb;
}