.ticket {
    margin-bottom: 6.5px;
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}

.ticket div p {
    margin: 0;
    padding: 0;
}

.ticket div[id=left] {
    grid-column: 1 / 2;
    background-color: #222222;
    display: grid;
}

.ticket div[id=left] p {
    margin-left: 10px;
}

.ticket .ticket__placeholder {
    font-size: 14px;
    color: #6e6e6e;
    font-family: "FuturaMediumC";
    margin-top: 10px;

}

.ticket .ticket__city {
    font-size: 18px;
    color: #fbfbfb;
    font-family: "FuturaDemiC";
    margin-top: 5px;

}
.ticket div[id=right] div[id=right-div-left] p[id=to] {
    color: #fba333;
}

.ticket .ticket__details-btn {
    font-size: 15px;
    color: #fba333;
    font-family: "FuturaBookC";
    margin-top: 15px;
    align-self: flex-end;
    padding-bottom: 5px;
}

.ticket .ticket__type-app {
    font-size: 15px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
    margin-top: 15px;
    align-self: flex-end;
    padding-bottom: 5px;
}

.ticket .ticket__date {
    font-size: 14px;
    color: #fba333;
    font-family: "FuturaDemiC";
    margin-top: 15px;
}

.ticket .ticket__price {
    font-size: 14px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
    margin-top: 5px;
}

.ticket div[id=right] {
    grid-column: 2 / 3;
    background-color: #262626;
    display: grid;
    grid-template-columns: 55% 45%;
}


.ticket div[id=right] div[id=right-div-left] {
    grid-column: 1 / 2;
    display: grid;
}

.ticket div[id=right] div[id=right-div-left] p {
    margin-left: 10px;
}

.ticket div[id=right] div[id=right-div-right] {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    grid-template-columns: 80%;

    justify-content: flex-end;
    align-content: center;

    width: 95%;
}

.ticket div[id=right] div[id=right-div-right] p {
    text-align: end;
    margin-right: 2.5px;
}

.ticket .ticket__reject-btn {
    height: 90%;
    width: 100%;
    

    display: grid;
    align-content: center;
    justify-content: center;

    background-color: #9B5E5D;
    border-radius: 5px;
}

.ticket .ticket__reject-btn:hover {
    background-color: #fba333;
}

.ticket .ticket__reject-btn p {
    font-size: 13px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
}

.ticket .ticket__reject-btn:hover p {
    color: #181818;
}

.ticket div[id=right] div[id=right-div-right] .ticket__offer-btn {
    height: 80%;
    width: 100%;
    

    display: grid;
    align-content: center;
    justify-content: center;

    background-color: #222222;
    border-radius: 5px;
}

.ticket div[id=right] div[id=right-div-right] .ticket__offer-btn:hover {
    background-color: #fba333;
}

.ticket div[id=right] div[id=right-div-right] .ticket__offer-btn p {
    font-size: 13px;
    color: #6e6e6e;
    font-family: "FuturaBookC";
}

.ticket div[id=right] div[id=right-div-right] .ticket__offer-btn:hover p {
    color: #181818;
}



.ticket .ticket__status.confirmed{
    background-color: #fba333;
}

.ticket .ticket__status.waiting{
    background-color: #fbfbfb;
}


/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) {
    .ticket {
        min-width: 450px;
    }

    .ticket .ticket__placeholder {
        font-size: 18px;
    }
    .ticket .ticket__city {
        font-size: 22px;
    }

    .ticket .ticket__details-btn {
        font-size: 20px;
    }
    
    .ticket .ticket__type-app {
        font-size: 20px;
    }
    
    .ticket .ticket__date {
        font-size: 18px;
    }
    
    .ticket .ticket__price {
        font-size: 20px;
    }

    .ticket .ticket__reject-btn p {
        font-size: 18px;
    }
    
    .ticket .ticket__status {
        height: 20px;
        width: 20px;
    }

    .ticket div[id=right] div[id=right-div-right] .ticket__offer-btn p {
        font-size: 18px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .ticket {
        min-width: 500px;
    }

    .ticket .ticket__placeholder {
        font-size: 20px;
    }
    .ticket .ticket__city {
        font-size: 24px;
    }

    .ticket .ticket__details-btn {
        font-size: 22px;
    }
    
    .ticket .ticket__type-app {
        font-size: 22px;
    }
    
    .ticket .ticket__date {
        font-size: 20px;
    }
    
    .ticket .ticket__price {
        font-size: 22px;
    }

    .ticket .ticket__reject-btn p {
        font-size: 20px;
    }
    
    .ticket .ticket__status {
        height: 25px;
        width: 25px;
    }

    .ticket div[id=right] div[id=right-div-right] .ticket__offer-btn p {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .ticket {
        min-width: 550px;
    }

    .ticket .ticket__placeholder {
        font-size: 22px;
    }
    .ticket .ticket__city {
        font-size: 26px;
    }

    .ticket .ticket__details-btn {
        font-size: 24px;
    }
    
    .ticket .ticket__type-app {
        font-size: 24px;
    }
    
    .ticket .ticket__date {
        font-size: 22px;
    }
    
    .ticket .ticket__price {
        font-size: 24px;
    }

    .ticket .ticket__reject-btn p {
        font-size: 22px;
    }
    
    
    .ticket .ticket__status {
        height: 30px;
        width: 30px;
    }

    .ticket div[id=right] div[id=right-div-right] .ticket__offer-btn p {
        font-size: 22px;
    }
}