.auth_form div form input[id=password] {
    background-image: url('../../../static/icons/password.png');
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 25px 30px;
    padding-left: 50px;
}

.auth_form div form p {
    color: #aea9af;
    font-size: 18px;
    font-family: 'FuturaDemiC';
}
