form[class=form_new_send_msg] {
    margin-top: 20px;
}

form[class=form_new_send_msg] input[type=submit] {
    margin-top: 5px;
    opacity: 0.2;
    pointer-events: none;
    background-color: #262626;
    color: #FBFBFB;
}

form[class=form_new_send_msg] .default_btn.active {
    pointer-events: auto;
    opacity: 1;
    background-color: #fba333;
    color: #222222;
}