.container.auth {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 25% 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    overflow: hidden;
}

.container.auth .preview-banner__common {
    grid-row: 1/2;
    align-self: flex-end;

    cursor: pointer;
}

.container.auth .auth__body {
    margin-top: 30px;
    grid-row: 2/3;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.container.auth .auth__body .auth__form__login {
    text-align: center;
}

.container.auth .auth__body .auth__form__login input  {
    margin-bottom: 5px;
}

.container.auth .auth__body .auth__form__login .input__common__submit   {
    margin-top: 20px;
}

.container.auth .auth__body .auth__body__reset-password {
    margin-top: 30px;
    text-align: center;
    color: #535353;
    font-family: 'FuturaDemic';
}

.container.auth .auth__body .auth__body__reset-password a {
    text-decoration: none;
    color: #fba333;
}

.container.auth .auth__footer {
    grid-row: 3/4;
}

.container.auth .auth__body .auth__form__login .auth__form__login__error-text {
    display: block;
    height: 30px;
    width: 80%;
    margin-left: 10%;
}

.container.auth .auth__body .auth__form__login .auth__form__login__error-text p {
    color: #9B5E5D;
    font-size: 16px;
    font-family: "FuturaDemiC";
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .container.auth {
        width: 80vw;
    }

    .container.auth .auth__body .auth__form__login .auth__form__login__error-text p,
    .container.auth .auth__body .auth__body__reset-password {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
   .container.auth {
        width: 50vw;
    }

   .container.auth .auth__body .auth__form__login .auth__form__login__error-text p,
   .container.auth .auth__body .auth__body__reset-password {
       font-size: 22px;
   }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.auth {
        width: 45vw;
    }
    .container.auth .auth__body .auth__form__login .auth__form__login__error-text p,
    .container.auth .auth__body .auth__body__reset-password {
        font-size: 24px;
    }
}