.switch__notification {
    margin-left: 10px;
}

.switch__notification .switch__notification__item {
    display: inline-block;
    color: #FBFBFB;
    font-size: 18px;
    font-family: 'FuturaDemiC';
    position: relative;
    padding-right: 20px;
}


.switch__notification .switch__notification__item.active {
    color: #fba333;
    opacity: 1;
}

.switch__notification .switch__notification__item.no-active {
    opacity: 0.3;
}

.switch__notification .switch__notification__circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #9B5E5D;
    position: absolute;
    top: 0px;
    right: 0px;

    display: grid;
    justify-content: center;
    align-content: center;
}

.switch__notification .switch__notification__circle p {
    color: #FBFBFB;
    margin: 0;
    padding: 0;
    font-size: 13px;
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .switch__notification .switch__notification__item {
        font-size: 22px;
    }
    .switch__notification .switch__notification__circle p {
        font-size: 16px;
    }
    .switch__notification .switch__notification__circle {
        height: 25px;
        width: 25px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .switch__notification .switch__notification__item {
        font-size: 24px;
    }
    .switch__notification .switch__notification__circle p {
        font-size: 18px;
    }
    .switch__notification .switch__notification__circle {
        height: 28px;
        width: 28px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .switch__notification .switch__notification__item {
        font-size: 26px;
    }

    .switch__notification .switch__notification__circle p {
        font-size: 20px;
    }

    .switch__notification .switch__notification__circle {
        height: 30px;
        width: 30px;
    }
}