.notification {
    margin-top: 10px;
    height: 335px;
    width: 350px;

    display: grid;

    grid-template-rows: 185px 100px 50px;
    border: 1px solid #262626;
    border-radius: 10px;
}


.notification .notification__transport__photo {
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}

.notification__card__body {
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
}

.notification__card__controls {
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    gap: 5px
}


.notification__card__body .notification__card__item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #fbfbfb;
    margin-left: 5px;
}

.notification__card__body .notification__card__item.ticket_data,
.notification__card__body .notification__card__item.transport_data {
    color: #fba333;
}

.notification__card__body .notification__card__item span {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 14px;
}

.notification__card__controls .notification__btn-remove-offer,
.notification__card__controls .notification__btn-set-decision-offer.accept,
.notification__card__controls .notification__btn-set-decision-offer.reject {
    width: 100%;
    height: 100%;

    color: #fbfbfb;
    font-size: 16px;
    font-family: "FuturaBookC";
    text-align: center;
    border-radius: 2px;
    display: grid;
    align-items: center;
}

.notification__card__controls .notification__btn-set-decision-offer.accept {
    grid-column: 1 / 2;
    background-color: #2E8B57;
}

.notification__card__controls .notification__btn-set-decision-offer.reject {
    grid-column: 2 / 3;
    background-color: #9B5E5D;
}

.notification__card__controls .notification__btn-remove-offer {
    grid-column: 1 / 3;
    background-color: #9B5E5D;
}




 /* ADAPTIVE 768-801 */
@media (min-width: 641px) {
    .notification {
        height: 460px;
        width: 500px;
        grid-template-rows: 310px 100px 50px;
    }
    
    .notification__card__body .notification__card__item {
        font-size: 20px;
    }
    
    .notification__card__body .notification__card__item span {
        font-size: 18px;
    }
    
    .notification__card__controls .notification__btn-remove-offer,
    .notification__card__controls .notification__btn-set-decision-offer.accept,
    .notification__card__controls .notification__btn-set-decision-offer.reject {
        font-size: 20px;
    }

}
