.ticket__notification {
    width: 100%;
    height: 40px;
    background-color: #222222;
    border-top: 1px solid #262626;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: grid;
    grid-template-columns: 200px 1fr;

    padding-bottom: 5px;
    position: relative;
}

.ticket__notification div p {
    padding: 0;
    margin: 0;
}
.ticket__notification div[id=left] {
    height: 40px;
    grid-column: 1 / 2;
    
}

.ticket__notification div[id=left] {
    margin-top: 10px;
    margin-left: 10px;
}

.ticket__notification div[id=left] p {
    display: inline;
    font-size: 16px;
    font-family: "FuturaDemiC";
}

.ticket__notification div[id=left] p[id=from] {
    color: #fbfbfb
}
.ticket__notification div[id=left] p[id=to] {
    color: #fba333
}

.ticket__notification div[id=left] p[id=path] {
    color: #535353;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "FuturaDemiC";
}


.ticket__notification div[id=right] {
    grid-column: 2 / 3;
    height: 40px;
    
    display: grid;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.ticket__notification div[id=right] p {
   
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #fba333
}