.ticket__notification {
    width: 100%;
    max-width: 1000px;
    height: 40px;
    background-color: #222222;
    border-top: 1px solid #262626;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: grid;
    grid-template-columns: 200px 1fr;

    padding-bottom: 5px;
    position: relative;
}

.ticket__notification div p {
    padding: 0;
    margin: 0;
}
.ticket__notification div[id=left] {
    height: 40px;
    grid-column: 1 / 2;
    
}

.ticket__notification div[id=left] {
    margin-top: 10px;
    margin-left: 10px;
}

.ticket__notification div[id=left] p {
    display: inline;
    font-size: 16px;
    font-family: "FuturaDemiC";
}

.ticket__notification div[id=left] p[id=from] {
    color: #fbfbfb
}
.ticket__notification div[id=left] p[id=to] {
    color: #fba333
}

.ticket__notification div[id=left] p[id=path] {
    color: #535353;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "FuturaDemiC";
}


.ticket__notification div[id=right] {
    grid-column: 2 / 3;
    height: 40px;
    
    display: grid;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.ticket__notification div[id=right] p {
   
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #fba333
}


/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .ticket__notification div[id=right] p,
    .ticket__notification div[id=left] p {
        font-size: 20px;
    }
    .ticket__notification div[id=left] p[id=path] {
        font-size: 18px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .ticket__notification div[id=right] p,
    .ticket__notification div[id=left] p {
        font-size: 22px;
    }
    .ticket__notification div[id=left] p[id=path] {
        font-size: 20px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .ticket__notification div[id=right] p,
    .ticket__notification div[id=left] p {
        font-size: 24px;
    }
    .ticket__notification div[id=left] p[id=path] {
        font-size: 22px;
    }
}