.transport__notification {
    margin-bottom: 10px;
    background-color: #222222;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    max-width: 1000px;

    height: 150px;

    display: grid;
    grid-template-rows: 100px 50px;
    grid-template-columns: 160px 1fr;

    position: relative;
}


.transport__notification .transport__notification__photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 150px;
    width: 160px;

    background-size: 160px 150px;   /* x y*/
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 5px;
}

.transport__notification .transport__notification__card {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;
    padding-right: 5px;

    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 65px 45px;
}

.transport__notification .transport__notification__card p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.transport__notification .transport__notification__card .transport__notification__card__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.transport__notification .transport__notification__card .transport__notification__card__title p[id=model] {
    margin-top: 10px;
    color: #FBFBFB;
    font-size: 15px;
    font-family: 'FuturaMediumC';
}

.transport__notification .transport__notification__card .transport__notification__card__body {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 14px;
 }

 .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item span {
    color: #FBFBFB;
    font-size: 14px;
    font-family: 'FuturaMediumC';
}

.transport__notification .transport__notification__card .transport__notification__card__footer {
    grid-column: 1 / 3;
    
    text-align: center;
    align-self: center;
    justify-self: center;

    height: 35px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.transport__notification .transport__notification__card .transport__notification__card__footer p {
    margin: 0;
    color: #FBFBFB;
    font-family: "FuturaBookC";
    font-size: 14px;
}

.transport__notification__card__footer .transport__notification__btn-remove-offer {
    grid-column: 1 / 3;
    width: 80%;
}
.transport__notification__card__footer .transport__notification__btn-set-decision-offer.accept {
    grid-column: 1 / 2;
    background-color: #478341;
    border-radius: 5px;
    width: 90%;
}
.transport__notification__card__footer .transport__notification__btn-set-decision-offer.reject {
    grid-column: 2 / 3;
    width: 90%;
}

.transport__notification__card__footer .transport__notification__btn-remove-offer,
.transport__notification__card__footer .transport__notification__btn-set-decision-offer.reject {
    background-color: #9B5E5D;
    border-radius: 5px;
}

.transport__notification__card__footer .transport__notification__btn-remove-offer,
.transport__notification__card__footer .transport__notification__btn-set-decision-offer {
    display: grid;
    align-items: center;
}


/* ADAPTIVE 375px */
@media (min-width:361px) and (max-width:400px){
    .transport__notification {
        height: 160px;
        grid-template-rows: 110px 50px;
        grid-template-columns: 180px 1fr;
    }
    .transport__notification .transport__notification__photo {
        height: 160px;
        width: 180px;
        background-size: 180px 160px;   /* x y*/
    }
    .transport__notification .transport__notification__card {
        grid-template-rows: 45px 70px 45px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__controls .transport__notification__control {
        background-size: 28px 28px;
    }
 }

 /* ADAPTIVE 414px */
 @media (min-width:401px) and (max-width:640px){
    .transport__notification {
        height: 180px;
        grid-template-rows: 120px 60px;
        grid-template-columns: 200px 1fr;
    }
    .transport__notification .transport__notification__photo {
        height: 180px;
        width: 200px;
        background-size: 200px 180px;   /* x y*/
    }
    .transport__notification .transport__notification__card {
        grid-template-rows: 50px 80px 50px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__title p[id=model] {
        font-size: 16px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item,
    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item span {
        font-size: 16px;
    }
 }


 /* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .transport__notification {
        height: 220px;
        grid-template-rows: 150px 70px;
        grid-template-columns: 240px 1fr;
    }
    .transport__notification .transport__notification__photo {
        height: 220px;
        width: 240px;
        background-size: 240px 220px;   /* x y*/
    }
    .transport__notification .transport__notification__card {
        grid-template-rows: 55px 70px 95px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__title p[id=model] {
        font-size: 22px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item,
    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item span {
        font-size: 20px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__footer {
        width: 80%;
        height: 45px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__footer p {
        font-size: 18px;
    }
}

 /* ADAPTIVE 1024 and more */
@media (min-width: 1024px) {
    .transport__notification {
        height: 250px;
        grid-template-rows: 180px 70px;
        grid-template-columns: 270px 1fr;
    }
    .transport__notification .transport__notification__photo {
        height: 250px;
        width: 270px;
        background-size: 270px 250px;   /* x y*/
    }
    .transport__notification .transport__notification__card {
        grid-template-rows: 65px 80px 105px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__title p[id=model] {
        font-size: 26px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item,
    .transport__notification .transport__notification__card .transport__notification__card__body .transport__notification__item span {
        font-size: 22px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__footer {
        width: 80%;
        height: 50px;
    }

    .transport__notification .transport__notification__card .transport__notification__card__footer p {
        font-size: 20px;
    }
}
