.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 15% 58% 10%;
    justify-items: center;
    align-items: stretch;
}
@media (max-height: 580px) {
    .container {
        grid-template-rows: 10% 13% 60% 10%;
        justify-items: center;
        align-items: stretch;
    }
}

/* HEADER */
.container .header {
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container .header a div img {
    width: 120px;
    height: 25px;
}

@media (max-height: 680px) {
    .container .header a div img {
        width: 100px;
        height: 20px;
    }
}
@media only screen and (min-height:680px) and (max-height:736px) {
    .container .header a div img {
        width: 110px;
        height: 25px;
    }
}


.container .footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .footer .navbar {
    background-color: #413a46;
    height: 9vh;
    width: 100vw;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr
}
@media (max-height: 580px) {
    .container .footer .navba  {
        height: 7vh;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navba  {
        height: 8vh;
    }
}

.container .footer .navbar .nav_btn {
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
@media (max-height: 580px) {
    .container .footer .navbar .nav_btn  {
        width: 25px;
        height: 25px;
        margin-top: 0px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar .nav_btn  {
        width: 30px;
        height: 30px;
        margin-top: 0px;
    }
}

.container .footer .navbar img {
    width: 35px;
    height: 35px;
}

@media (max-height: 580px) {
    .container .footer .navbar img  {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer .navbar img  {
        width: 30px;
        height: 30px;
    }
}

.container .footer #add {
    position: absolute; left: 50%; transform: translate(-50%, -50%);
    z-index: 100;
}

.container .footer #add img {
    width: 50px;
    height: 50px;
}

@media (max-height: 580px) {
    .container .footer #add img  {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (min-height:580px) and (max-height: 680px) {
    .container .footer #add img  {
        width: 40px;
        height: 40px;
    }
}