.container.history {
    width: 100vw;
    height: 80vh;

    display: grid;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

.container.history::-webkit-scrollbar {
    display: none;
}

.container.history {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container.history .history__table {
    margin-top: 20px;
}

.container.history .history__table table {
    padding-bottom: 10vh;
}


 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .container.history {
        width: 75vw;

    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .container.history {
        width: 65vw;

    }
}