.container.history {
    width: 100vw;

    display: grid;
    grid-template-rows: 80vh;

    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

.container.history .history__table {
    margin-top: 20px;
}

.container.history .history__table table {
    padding-bottom: 10vh;
}