.search-app__filters__modal-window__bg {
    z-index: 200;
    top: 0;
    left: 0;
    position: fixed;
    display: grid;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(22, 22, 22, 0.8);
}

.search-app__filters__modal-window__content {
    z-index: 201;

    height: auto;
    padding-bottom: 10px;
    width: 100vw;
    
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background-color: #181818;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    margin-bottom: 5vh;
    
}

.search-app__filters__modal-window__content form {
    width: 95%;
    justify-self: center;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 55px 310px 1fr;
}

.search-app__filters__modal-window__title {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;

    display: grid;
    align-content: center;
    
    font-size: 20px;
    font-family: "FuturaDemiC";
    color: #fbfbfb;
}

.search-app__filters__modal-window__close-btn {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 40px;
    background-image: url('../../../../static/icons/close.png');
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
    justify-self: flex-end;
}


.search-app__filters__modal-window__content form .search-selector__input__common {
    justify-self: center;
    width: calc((100% - 5%) - 10px);
    margin-left: calc((100% - 95%) / 2);
}

.search-app__filters__modal-window__content form .search-selector__option {
    width: calc((100% - 5%) - 10px);
    margin-left: calc((100% - 95%) / 2);
}

.search-app__filters__modal-window__content .search-app__filters__modal-window__owner-types {
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 95%;
    height: 50px;
}

.search-app__filters__modal-window__owner-types div {
    height: 50px;
    border-radius: 5px;

    background-color: #222222;
    border: 2px solid #262626;

    display: grid;
    align-items: center;

    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-size: 25px;
}

.search-app__filters__modal-window__owner-types .owner-type p {
    color: #6e6e6e;
    font-size: 14px;
    font-family: "FuturaBookC";
    text-align: center;
}

.search-app__filters__modal-window__owner-types .owner-type.active {
    border: 2px solid #fba333;
}
.search-app__filters__modal-window__owner-types .owner-type.active p {
    color: #fba333
}

.search-app__filters__modal-window__owner-types .owner-type.default {
    background-image: url('../../../../static/icons/active/calendar.png');
}

.search-app__filters__modal-window__owner-types .owner-type.extra {
    pointer-events: none;
    opacity: 0.5;
    background-image: url('../../../../static/icons/default/alert.png');
}

.search-app__filters__modal-window__content .search-app__filters__modal-window__app-types {
    margin-top: 5px;
    width: 95%;
    justify-self: center;
    height: 310px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 50px);
    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

.search-app__filters__modal-window__content .search-app__filters__modal-window__app-types::-webkit-scrollbar {
    display: none;
}

.search-app__filters__modal-window__content .search-app__filters__modal-window__app-types  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.search-app__filters__modal-window__app-types .search-app__filters__modal-window__app-type {
    height: 45px;
    
    border: 1px solid #262626;
    border-radius: 5px;

    display: grid;
    align-items: center;

    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-size: 25px;
}

.search-app__filters__modal-window__app-type p {
    color: #6e6e6e;
    font-size: 14px;
    font-family: "FuturaBookC";
    padding-left: 50px;
}

.search-app__filters__modal-window__app-type.active {
    border: 1px solid #fba333;
}

.search-app__filters__modal-window__app-type.active p {
    color: #fba333;
}

.search-app__filters__modal-window__app-type.holiday {
    background-image: url('../../../../static/icons/default/party.png');
}

.search-app__filters__modal-window__app-type.holiday {
    background-image: url('../../../../static/icons/default/party.png');
}

.search-app__filters__modal-window__app-type.holiday.active {
    background-image: url('../../../../static/icons/active/party.png');
}

.search-app__filters__modal-window__app-type.tour {
    background-image: url('../../../../static/icons/default/tree.png');
}

.search-app__filters__modal-window__app-type.tour.active {
    background-image: url('../../../../static/icons/active/tree.png');
}

.search-app__filters__modal-window__app-type.tour {
    background-image: url('../../../../static/icons/default/tree.png');
}

.search-app__filters__modal-window__app-type.tour.active {
    background-image: url('../../../../static/icons/active/tree.png');
}

.search-app__filters__modal-window__app-type.transfer {
    background-image: url('../../../../static/icons/default/transfer.png');
}

.search-app__filters__modal-window__app-type.transfer.active {
    background-image: url('../../../../static/icons/active/transfer.png');
}

.search-app__filters__modal-window__app-type.intercity {
    background-image: url('../../../../static/icons/default/office.png');
}

.search-app__filters__modal-window__app-type.intercity.active {
    background-image: url('../../../../static/icons/active/office.png');
}

.search-app__filters__modal-window__app-type.ritual {
    background-image: url('../../../../static/icons/default/church.png');
}

.search-app__filters__modal-window__app-type.ritual.active {
    background-image: url('../../../../static/icons/active/church.png');
}

.search-app__filters__modal-window__app-type.other {
    background-image: url('../../../../static/icons/default/other.png');
}

.search-app__filters__modal-window__app-type.other.active {
    background-image: url('../../../../static/icons/active/other.png');
}

.search-app__filters__modal-window__content button {
    margin-top: 10px;
    justify-self: center;
    align-self: flex-start;
}
.search-app__filters__modal-window__content button:hover {
    background-color: #fba333;
    color: #181818;
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    
    .search-app__filters__modal-window__content form {
        width: 95%;
        grid-template-rows: 80px 90px 450px 1fr;
    }
    
    .search-app__filters__modal-window__title {
        font-size: 24px;
    }
    
    .search-app__filters__modal-window__close-btn {
        width: 55px;
        height: 45px;
        background-size: 30px 30px;
    }    
    
    .search-app__filters__modal-window__content .search-app__filters__modal-window__owner-types {
        width: 95%;
        height: 80px;   
    }
    
    .search-app__filters__modal-window__owner-types div {
        height: 80px;
        background-size: 50px;
    }
    
    .search-app__filters__modal-window__owner-types .owner-type p {
        font-size: 22px;
    }

    
    .search-app__filters__modal-window__content .search-app__filters__modal-window__app-types {
        width: 95%;
        height: 450px;
        grid-template-rows: repeat(6, 70px);
    }
    
    .search-app__filters__modal-window__app-types .search-app__filters__modal-window__app-type {
        height: 70px;
        margin-bottom: 10px;
        background-size: 35px;
    }
    
    .search-app__filters__modal-window__app-type p {
        font-size: 22px;
        padding-left: 50px;
    }
    
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) {
    .search-app__filters__modal-window__content {
        width: 50vw;
        margin-left: 25vw;
    }

    .search-app__filters__modal-window__content input {
        height: 60px;
        
    }

    .search-app__filters__modal-window__content form {
        grid-template-rows: 70px 70px 400px 1fr;
    }
    
    .search-app__filters__modal-window__title {
        font-size: 26px;
    }
    
    .search-app__filters__modal-window__close-btn {
        width: 60px;
        height: 50px;
        background-size: 35px 35px;
    }    
    
    .search-app__filters__modal-window__content .search-app__filters__modal-window__owner-types {
        width: 95%;
        height: 60px;
        gap: 5px;   
    }
    
    .search-app__filters__modal-window__owner-types div {
        height: 60px;
        background-size: 35px;
    }
    
    .search-app__filters__modal-window__owner-types .owner-type p {
        font-size: 22px;
    }

    .search-app__filters__modal-window__content .search-app__filters__modal-window__app-types {
        width: 95%;
        height: 400px;
        grid-template-rows: repeat(6, 60px);
        gap: 5px
    }
    
    .search-app__filters__modal-window__app-types .search-app__filters__modal-window__app-type {
        height: 60px;
        background-size: 30px;
    }
    
    .search-app__filters__modal-window__app-type p {
        font-size: 22px;
        padding-left: 50px;
    }
}
