.search-app .type.app-type.holiday {
    background-image: url('../../../../static/icons/default/party.png');
}

.search-app .type.app-type.holiday.active {
    background-image: url('../../../../static/icons/active/party.png');
}

.search-app .type.app-type.tour {
    background-image: url('../../../../static/icons/default/tree.png');
}

.search-app .type.app-type.tour.active {
    background-image: url('../../../../static/icons/active/tree.png');
}

.search-app .type.app-type.transfer {
    background-image: url('../../../../static/icons/default/transfer.png');
}

.search-app .type.app-type.transfer.active {
    background-image: url('../../../../static/icons/active/transfer.png');
}

.search-app .type.app-type.intercity {
    background-image: url('../../../../static/icons/default/office.png');
}

.search-app .type.app-type.intercity.active {
    background-image: url('../../../../static/icons/active/office.png');
}

.search-app .type.app-type.ritual {
    background-image: url('../../../../static/icons/default/church.png');
}

.search-app .type.app-type.ritual.active {
    background-image: url('../../../../static/icons/active/church.png');
}

.search-app .type.app-type.other {
    background-image: url('../../../../static/icons/default/other.png');
}

.search-app .type.app-type.other.active {
    background-image: url('../../../../static/icons/active/other.png');
}
