.ticket__search {
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}

.ticket__search div p {
    margin: 0;
    padding: 0;
}

.ticket__search div[id=left] {
    grid-column: 1 / 2;
    background-color: #222222;
    
}

.ticket__search div[id=left] p {
    margin-left: 10px;
}

.ticket__search .ticket__search__placeholder {
    font-size: 14px;
    color: #6e6e6e;
    font-family: "FuturaMediumC";
    margin-top: 10px;

}

.ticket__search .ticket__search__city {
    font-size: 18px;
    color: #fbfbfb;
    font-family: "FuturaDemiC";
    margin-top: 5px;

}
.ticket__search div[id=right] div[id=right-div-left] p[id=to] {
    color: #fba333;
}

.ticket__search .ticket__search__details-btn {
    font-size: 15px;
    color: #fba333;
    font-family: "FuturaBookC";
    margin-top: 15px;
}

.ticket__search .ticket__search__type-app {
    font-size: 15px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
    margin-top: 15px;
}

.ticket__search .ticket__search__date {
    font-size: 14px;
    color: #fba333;
    font-family: "FuturaDemiC";
    margin-top: 15px;
}

.ticket__search .ticket__search__price {
    font-size: 14px;
    color: #fbfbfb;
    font-family: "FuturaBookC";
    margin-top: 5px;
}

.ticket__search div[id=right] {
    grid-column: 2 / 3;
    background-color: #262626;
    display: grid;
    grid-template-columns: 55% 45%;
}


.ticket__search div[id=right] div[id=right-div-left] {
    grid-column: 1 / 2;
    
}

.ticket__search div[id=right] div[id=right-div-left] p {
    margin-left: 10px;
}

.ticket__search div[id=right] div[id=right-div-right] {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    grid-template-columns: 80%;

    justify-content: flex-end;
    align-content: center;

    width: 95%;
}

.ticket__search div[id=right] div[id=right-div-right] p {
    text-align: end;
}

.ticket__search div[id=right] div[id=right-div-right] .ticket__search__offer-btn {
    height: 80%;
    width: 100%;
    

    display: grid;
    align-content: center;
    justify-content: center;

    background-color: #222222;
    border-radius: 5px;
}

.ticket__search div[id=right] div[id=right-div-right] .ticket__search__offer-btn:hover {
    background-color: #fba333;
}

.ticket__search div[id=right] div[id=right-div-right] .ticket__search__offer-btn p {
    font-size: 13px;
    color: #6e6e6e;
    font-family: "FuturaBookC";
}

.ticket__search div[id=right] div[id=right-div-right] .ticket__search__offer-btn:hover p {
    color: #181818;
}

.ticket__search .ticket__search__about {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 85% 15%;
    align-content: flex-start;
    justify-content: flex-start;

    background-color: #222222;
    height: 100px;
    width: 100%;
    position: absolute;
    border: 1px solid #262626;
}

.ticket__search .ticket__search__about .ticket__search__about__close-btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 50px;
    height: 40px;
    background-image: url('../../../../static/icons/close.png');
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
}

.ticket__search .ticket__search__about .ticket__search__about__details {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;

}

.ticket__search .ticket__search__about .ticket__search__about__details .ticket__search__about__item.description {
    color: #6e6e6e;
    font-family: 'FuturaMediumC';
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.ticket__search .ticket__search__about .ticket__search__about__details p span {
    color: #FBFBFB;
    font-size: 15px;
    font-family: 'FuturaDemiC';
}

.ticket__search .ticket__search__about .ticket__search__about__details p span {
    font-size: 14px;
}