.transport__offer {
    margin-bottom: 10px;
    background-color: #222222;
    border: 1px solid rgb(46, 44, 45);
    border-radius: 5px;
    width: 100%;
    height: 120px;

    display: grid;
    grid-template-rows: 80px 40px;
    grid-template-columns: 130px 1fr;

    position: relative;
}


.transport__offer .transport__offer__photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 120px;
    width: 130px;

    background-size: 130px 120px;   /* x y*/
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 5px;
}

.transport__offer .transport__offer__card {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;

    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-rows: 30px 30px 60px;
    grid-template-columns: 1fr;
}

.transport__offer .transport__offer__card p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.transport__offer .transport__offer__card .transport__offer__card__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.transport__offer .transport__offer__card .transport__offer__card__title p[id=model] {
    margin-top: 10px;
    color: #FBFBFB;
    font-size: 15px;
    font-family: 'FuturaMediumC';
}

.transport__offer .transport__offer__card .transport__offer__card__body {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 14px;
 }

 .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item span {
    color: #FBFBFB;
    font-size: 14px;
    font-family: 'FuturaMediumC';
}

.transport__offer .transport__offer__card .transport__offer__card__footer {
    background-color: #262626;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    justify-self: center;
    height: 40px;
    width: 50%;

    display: grid;
    align-content: center;

}
.transport__offer .transport__offer__card .transport__offer__card__footer:hover {
    background-color: #fba333;
}

.transport__offer .transport__offer__card .transport__offer__card__footer p {
    margin: 0;
    color: #FBFBFB;
    font-family: "FuturaBookC";
    font-size: 14px;
}

.transport__offer .transport__offer__card .transport__offer__card__footer:hover p {
    color: #181818;
}


/* ADAPTIVE 375px */
@media (min-width:361px) and (max-width:400px){
    .transport__offer {
        height: 160px;
        grid-template-rows: 110px 50px;
        grid-template-columns: 180px 1fr;
    }
    .transport__offer .transport__offer__photo {
        height: 160px;
        width: 180px;
        background-size: 180px 160px;   /* x y*/
    }
    .transport__offer .transport__offer__card {
        grid-template-rows: 30px 40px 90px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__controls .transport__offer__control {
        background-size: 28px 28px;
    }

    .transport__offer .transport__offer__about {
        height: 160px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__close-btn {
        background-size: 28px 28px;
    }
 }

 /* ADAPTIVE 414px */
 @media (min-width:401px) and (max-width:640px){
    .transport__offer {
        height: 180px;
        grid-template-rows: 120px 60px;
        grid-template-columns: 200px 1fr;
    }
    .transport__offer .transport__offer__photo {
        height: 180px;
        width: 200px;
        background-size: 200px 180px;   /* x y*/
    }
    .transport__offer .transport__offer__card {
        grid-template-rows: 30px 50px 100px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__title p[id=model] {
        font-size: 16px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item,
    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item span {
        font-size: 16px;
    }

    .transport__offer .transport__offer__about {
        height: 180px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__close-btn {
        background-size: 30px 30px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item {
        font-size: 16px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item span {
        font-size: 15px;
    }
 }


 /* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .transport__offer {
        height: 220px;
        grid-template-rows: 150px 70px;
        grid-template-columns: 240px 1fr;
    }
    .transport__offer .transport__offer__photo {
        height: 220px;
        width: 240px;
        background-size: 240px 220px;   /* x y*/
    }
    .transport__offer .transport__offer__card {
        grid-template-rows: 40px 65px 115px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__title p[id=model] {
        font-size: 22px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item,
    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item span {
        font-size: 20px;
    }

    .transport__offer .transport__offer__about {
        height: 220px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__close-btn {
        background-size: 35px 35px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item {
        font-size: 20px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item span {
        font-size: 20px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__footer {
        width: 40%;
    }

    .transport__offer .transport__offer__card .transport__offer__card__footer p {
        font-size: 18px;
    }
}

 /* ADAPTIVE 1024 and more */
@media (min-width: 1024px) {
    .transport__offer {
        height: 250px;
        grid-template-rows: 180px 70px;
        grid-template-columns: 270px 1fr;
    }
    .transport__offer .transport__offer__photo {
        height: 250px;
        width: 270px;
        background-size: 270px 250px;   /* x y*/
    }
    .transport__offer .transport__offer__card {
        grid-template-rows: 40px 70px 140px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__title p[id=model] {
        font-size: 26px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item,
    .transport__offer .transport__offer__card .transport__offer__card__body .transport__offer__item span {
        font-size: 22px;
    }

    .transport__offer .transport__offer__about {
        height: 250px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__close-btn {
        background-size: 40px 40px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item {
        font-size: 22px;
    }

    .transport__offer .transport__offer__about .transport__offer__about__item span {
        font-size: 22px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__footer {
        width: 35%;
        height: 55px;
    }

    .transport__offer .transport__offer__card .transport__offer__card__footer p {
        font-size: 20px;
    }
}
