ENV=DEV
SERVER=http
DOMAIN=localhost

SECKET_KEY=5f8d0ff68f7fb0818355a76c58418312

YANDEX_ACCESS_KEY_ID=UefYhTqRQsB_oNVE****
YANDEX_SECRET_ACCESS_KEY=74jLKEMaKfUUgeZhSoqj1QSygCCGAJzYKMNh****
YANDEX_BUCKET_NAME=bustail

YANDEX_KASSA_ID=******
YANDEX_KASSA_SECRET=test_flrVnF0TXpmlBFxsfWBp0GHjMbWcEWfR98-QPvh****

REDIS_HOST=localhost
REDIS_DB=0
REDIS_PORT=6379
REDIS_PASSWORD=foobared

SENTRY_ACCESS_KEY=https://f9349d35c69247a4b116b5e932d119ca@o346053.ingest.sentry.io/******