YANDEX_ACCESS_KEY_ID=UefYhTqRQsB_oNVE****
YANDEX_SECRET_ACCESS_KEY=74jLKEMaKfUUgeZhSoqj1QSygCCGAJzYKMNh****
YANDEX_BUCKET_NAME=bustail

YANDEX_KASSA_ID=77****
YANDEX_KASSA_SECRET=test_flrVnF0TXpmlBFxsfWBp0GHjMbWcEWfR98-QPvh****