
.search-transport .type.transport-type.car {
    background-image: url('../../../../static/icons/default/car.png');
}

.search-transport .type.transport-type.car.active {
    background-image: url('../../../../static/icons/active/car.png');
}

.search-transport .type.transport-type.bus {
    background-image: url('../../../../static/icons/default/bus.png');
}

.search-transport .type.transport-type.bus.active {
    background-image: url('../../../../static/icons/active/bus.png');
}

.search-transport .type.transport-type.freight {
    background-image: url('../../../../static/icons/default/freight.png');
}

.search-transport .type.transport-type.freight.active {
    background-image: url('../../../../static/icons/active/freight.png');
}

.search-transport .type.transport-type.holiday {
    background-image: url('../../../../static/icons/default/holiday.png');
}

.search-transport .type.transport-type.holiday.active {
    background-image: url('../../../../static/icons/active/holiday.png');
}

.search-transport .type.transport-type.minibus {
    background-image: url('../../../../static/icons/default/minibus.png');
}

.search-transport .type.transport-type.minibus.active {
    background-image: url('../../../../static/icons/active/minibus.png');
}

.search-transport .type.transport-type.other {
    background-image: url('../../../../static/icons/default/other.png');
}

.search-transport .type.transport-type.other.active {
    background-image: url('../../../../static/icons/active/other.png');
}

.search-transport .type.transport-type.ritual {
    background-image: url('../../../../static/icons/default/church.png');
}

.search-transport .type.transport-type.ritual.active {
    background-image: url('../../../../static/icons/active/church.png');
}

.search-transport .type.transport-type.animal {
    background-image: url('../../../../static/icons/default/animal.png');
}

.search-transport .type.transport-type.animal.active {
    background-image: url('../../../../static/icons/active/animal.png');
}

.search-transport .type.transport-type.medical {
    background-image: url('../../../../static/icons/default/medical.png');
}

.search-transport .type.transport-type.medical.active {
    background-image: url('../../../../static/icons/active/medical.png');
}