.offer__application__modal-window__bg {
    z-index: 200;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(22, 22, 22, 0.5);
}

.offer__application__modal-window__content {
    z-index: 201;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 90%;
    width: 100vw;

    background-color: #181818;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 1fr;
    
}

.offer__application__modal-window__content .offer__application__modal-window__title {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;

    display: grid;
    align-content: center;
    
    font-size: 20px;
    font-family: "FuturaDemiC";
    color: #fbfbfb;
}

.offer__application__modal-window__content .offer__application__modal-window__close-btn {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 40px;
    background-image: url('../../../../static/icons/close.png');
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
    justify-self: flex-end;
}

.offer__application__modal-window__content .offer__application__modal-window__text {
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #535353;
    
    margin: 0;
    padding: 0;

    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

    float: left;
}

.offer__application__modal-window__content .offer__application__modal-window__create-object {
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #fba333;
    text-decoration: none;
    
    margin: 0;
    padding: 0;

    margin-right: 25px;
    margin-top: 5px;

    float: right;
}


.offer__application__modal-window__content .offer__application__modal-window__choices {
    width: 95%;
    justify-self: center;
    
    padding-bottom: 10vh;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
    -webkit-overflow-scrolling: touch;
}

.offer__application__modal-window__content .offer__application__modal-window__choices::-webkit-scrollbar {
    display: none;
}

.offer__application__modal-window__content .offer__application__modal-window__choices  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.offer__application__modal-window__content  .offer__application__modal-window__no-choices-text {
    font-size: 18px;
    font-family: "FuturaDemiC";
    color: #9B5E5D;
    text-align: center;
    justify-self: center;
    align-self: center;

    margin-top: 25%;    
}


/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {

    .offer__application__modal-window__content .offer__application__modal-window__title {
        font-size: 28px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__close-btn {
        width: 55px;
        height: 45px;
        background-size: 30px 30px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__create-object,
    .offer__application__modal-window__content .offer__application__modal-window__text {
        font-size: 20px;
    }

    .offer__application__modal-window__content  .offer__application__modal-window__no-choices-text {
        font-size: 22px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .offer__application__modal-window__content{
        width: 65vw;
        margin-left: 17.5vw;
    }
    .offer__application__modal-window__content .offer__application__modal-window__title {
        font-size: 28px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__close-btn {
        width: 60px;
        height: 50px;
        background-size: 35px 35px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__create-object,
    .offer__application__modal-window__content .offer__application__modal-window__text {
        font-size: 24px;
    }

    .offer__application__modal-window__content  .offer__application__modal-window__no-choices-text {
        font-size: 26px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .offer__application__modal-window__content {
        width: 50vw;
        margin-left: 25vw;
    }
    .offer__application__modal-window__content .offer__application__modal-window__title {
        font-size: 28px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__close-btn {
        width: 65px;
        height: 55px;
        background-size: 40px 40px;
    }

    .offer__application__modal-window__content .offer__application__modal-window__create-object,
    .offer__application__modal-window__content .offer__application__modal-window__text {
        font-size: 24px;
    }

    .offer__application__modal-window__content  .offer__application__modal-window__no-choices-text {
        font-size: 26px;
    }
}