html {
  position: static;
  overflow-y: hidden;
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  height: 100vh;

  overflow: hidden;

  background-image: url('./static/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("./static/fonts/FuturaBookC.woff");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("./static/fonts/FuturaDemiC.woff");
}
@font-face {
  font-family: "FuturaLightC";
  src: url("./static/fonts/FuturaLightC.woff");
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("./static/fonts/FuturaMediumC.woff");
}
