body {
  background-color: #181818;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("./static/fonts/FuturaBookC.eot");
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("./static/fonts/FuturaDemiC.eot");
}
@font-face {
  font-family: "FuturaLightC";
  src: url("./static/fonts/FuturaLightC.eot");
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("./static/fonts/FuturaMediumC.eot");
}
