.button__common__redirect,
.input__common__submit {

    -webkit-appearance: none;

    border: none;
    background-color: #262626;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    
}

.input__common__submit {
    font-family: 'FuturaBookC';
    font-size: 16px; 
}


.input__common__submit:hover {
    background-color: #fba333;
    color: #262626
    
}

.button__common__redirect {
    display: grid;
    align-content: center;
    justify-content: center;
}

.input__common__submit,
.button__common__redirect a {
    font-size: 18px;
    text-decoration: none;
    color: #fbfbfb;
    font-family: 'FuturaBookC';
}


.button__common__redirect:hover {
    background-color: #fba333;
}

.button__common__redirect:hover a {
    color: #222222;
}


.input__common__submit.no-active {
    opacity: 0.5;
    pointer-events: none;
}


/* ADAPTIVE 768-800 */
@media screen and (min-width:767px) and (max-width:801px) {
    .button__common__redirect,
    .input__common__submit {
        height: 80px;
        width: 250px;
    }

    .input__common__submit {
        font-family: 'FuturaBookC';
        font-size: 28px; 
    }

    .input__common__submit,
    .button__common__redirect a {
        font-size: 32px; 
    }
}
