.button__common__redirect,
.input__common__submit {

    -webkit-appearance: none;

    border: none;
    background-color: #262626;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    
}

.input__common__submit {
    font-size: 16px; 
}


.input__common__submit:hover {
    background-color: #fba333;
    color: #262626
    
}

.button__common__redirect {
    display: grid;
    align-content: center;
    justify-content: center;
}

.input__common__submit,
.button__common__redirect a {
    text-decoration: none;
    color: #fbfbfb;
    font-family: 'FuturaBookC';
}

.button__common__redirect a {
    font-size: 18px;
}


.button__common__redirect:hover {
    background-color: #fba333;
}

.button__common__redirect:hover a {
    color: #222222;
}


.input__common__submit.no-active {
    opacity: 0.5;
    pointer-events: none;
}


 /* ADAPTIVE 768-801-1024px */
 @media (min-width: 641px) and (max-width: 1023px) {
    .button__common__redirect,
    .input__common__submit {
        height: 60px;
        width: 180px;
    }
    .input__common__submit,
    .button__common__redirect a {
        font-size: 20px;
    }

}

  /* ADAPTIVE 1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .button__common__redirect,
    .input__common__submit {
        height: 75px;
        width: 200px;
    }
    .input__common__submit,
    .button__common__redirect a {
        font-size: 22px;
    }
}

  /* ADAPTIVE 1536px and more */
 @media (min-width: 1536px) {
    .button__common__redirect,
    .input__common__submit {
        height: 75px;
        width: 200px;
    }
    .input__common__submit,
    .button__common__redirect a {
        font-size: 24px;
    }
 }
