input[type=submit] {
    background-color: #262626;
    width: 50%;
    border-radius: 8px;
    margin-top: 30px;
    font-family: 'FuturaBookC';
    font-size: 16px; 
}

input[type=submit]:hover {
    background-color: #fba333;
    color: #262626
    
}