input {
    -webkit-appearance: none;
    padding-top: 0;
    padding-bottom: 0;
    
    background: #222222;
    border: none;
    outline: none;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    font-size: 18px;
    
    height: 50px;
    width: 100%;
    border-radius: 5px;
    
    padding-left: 10px;
    
}
input[type=email]:read-only {
    opacity: 0.5;
}

textarea {
    background: #222222;
    border: none;
    outline: none;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    font-size: 18px;
    
    height: 120px;
    width: 100%;
    border-radius: 5px;
    
    padding-left: 10px;
    padding-top: 10px;
}

input::placeholder {
    color:#535353;
    font-size: 18px;
}

textarea::placeholder {
    color:#535353;
    font-size: 18px;
}

input {
    background-size: 25px 25px;
    background-position: 95% center;
    background-repeat: no-repeat;
}


.input__common.email {
    background-image: url("../../../../static/icons/email.png");
}

.input__common.password {
    background-image: url("../../../../static/icons/password.png");
    background-size: 20px 23px;
    background-position: 94% center;
    font-size: 12px;
    font-family: 'FuturaLightC';
}

.input__common.date {
    background-image: url("../../../../static/icons/calendar.png");
}

input[name=seats] {
    background-image: url("../../../../static/icons/seats.png");
}

input[name=price] {
    background-image: url("../../../../static/icons/price.png");
}

input[name=phone] {
    background-image: url("../../../../static/icons/default/call.png");
}