input {
    -webkit-appearance: none;
    padding-top: 0;
    padding-bottom: 0;
    
    background: #222222;
    border: none;
    outline: none;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    font-size: 18px;
    
    height: 50px;
    width: 100%;
    border-radius: 5px;
    
    padding-left: 10px;
    
}
input[type=email]:read-only {
    opacity: 0.5;
}

textarea {
    background: #222222;
    border: none;
    outline: none;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    font-size: 18px;
    
    height: 120px;
    width: 100%;
    border-radius: 5px;
    
    padding-left: 10px;
    padding-top: 10px;
}

input::placeholder {
    color:#535353;
    font-size: 18px;
}

textarea::placeholder {
    color:#535353;
    font-size: 18px;
}

input {
    background-size: 25px 25px;
    background-position: 95% center;
    background-repeat: no-repeat;
}


.input__common.email {
    background-image: url("../../../../static/icons/email.png");
}

.input__common.password {
    background-image: url("../../../../static/icons/password.png");
    background-size: 20px 23px;
    background-position: 94% center;
    font-size: 12px;
    font-family: 'FuturaLightC';
}

.input__common.date {
    background-image: url("../../../../static/icons/calendar.png");
}

input[name=seats] {
    background-image: url("../../../../static/icons/seats.png");
}

input[name=price] {
    background-image: url("../../../../static/icons/price.png");
}

input[name=phone] {
    background-image: url("../../../../static/icons/default/call.png");
}


@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    input {
        background-size: 30px 30px;
        height: 70px;
        font-size: 20px;
    }
    .input__common.password {
        background-size: 25px 28px;
        background-position: 95% center;
        font-size: 18px;
    }
    
    textarea {
        height: 140px;
    }
    input::placeholder {
        font-size: 20px;
    }
    textarea::placeholder {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1535px) {
    input {
        background-size: 35px 35px;
        height: 80px;
        font-size: 22px;
    }
    .input__common.password {
        background-size: 30px 33px;
        background-position: 95% center;
        font-size: 20px;
    }
    textarea {
        height: 160px;
    }
    input::placeholder {
        font-size: 22px;
    }
    textarea::placeholder {
        font-size: 22px;
    }
}

@media (min-width: 1536px) {
    input {
        background-size: 40px 40px;
        height: 90px;
        font-size: 24px;
    }
    .input__common.password {
        background-size: 35px 38px;
        background-position: 95% center;
        font-size: 22px;
    }
    textarea {
        height: 180px;
    }
    input::placeholder {
        font-size: 24px;
    }
    textarea::placeholder {
        font-size: 24px;
    }
}