
.react-datepicker-wrapper,
.react-datepicker,
.react-datepicker__month-container,
.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker {
    font-family: "FuturaDemiC" !important;
    border: 1px solid #222222 !important;
}

.react-datepicker__header {
    background-color: #181818 !important;
    border-bottom: 1px solid #222222 !important;
}

.react-datepicker__month-container {
    background-color: #262626 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
    color: #fbfbfb !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
    background-color: #fba333 !important;
    color: #fbfbfb !important;
    border-radius: 50% !important;
}

.react-datepicker__day--disabled {
    opacity: 0.5;
}