.search-selector {
    position: relative;
}

.search-selector .search-selector__option {
    top: 50px;
    left: 0;
    position: absolute;
    z-index: 1;

    max-height: 200px;
    width: 100%;
    padding-right: 10px;
    background-color: #262626;
    
    overflow-y: auto;
    overflow-x: hidden;

    opacity: 1;
    pointer-events: none;
}

.search-selector.active .search-selector__option {
    opacity: 1;
    pointer-events: auto;
}

.search-selector .search-selector__input__common {
    background-image: url("../../../../static/icons/default/search.png");
}

.search-selector .search-selector__option li {
    display: none;
    width: 100%;
    padding: 10px;

    list-style: none;
    cursor: default;
    text-align: left;

    font-size: 18px;
    color: #FBFBFB;
    font-family: 'FuturaBookC';

    border-radius: 3px;
    border-bottom: 1px dashed rgba(66, 66, 66, 0.5);
}

.search-selector.active .search-selector__option li {
    display: block;
}

.search-selector.active .search-selector__option li span {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 16px;
}

.search-selector .search-selector__option li:hover {
    background-color: #fba333;
}