.search-selector {
    position: relative;
}

.search-selector .search-selector__option {
    position: absolute;
    max-height: 200px;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
    background-color: #262626;
    opacity: 1;
    pointer-events: none;
    overflow-x: hidden;
    z-index: 2;
}

.search-selector.active .search-selector__option {
    opacity: 1;
    pointer-events: auto;
}

.search-selector .search-selector__input__common {
    background-image: url("../../../../static/icons/default/search.png");
}

.search-selector .search-selector__option li {
    list-style: none;
    padding: 10px;
    cursor: default;
    border-radius: 3px;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    border: 1px solid #222222;
    font-size: 18px;
    display: none;
    text-align: left;
    width: 100%;
    z-index: 101;

}

.search-selector.active .search-selector__option li {
    display: block;
}

.search-selector.active .search-selector__option li span {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 16px;
}

.search-selector .search-selector__option li:hover {
    background-color: #fba333;
}