.search {
    position: relative;
}

.search .option {
    position: absolute;
    max-height: 200px;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
    background-color: #262626;
    opacity: 1;
    pointer-events: none;
    overflow-x: hidden;
}

.search.active .option {
    opacity: 1;
    pointer-events: auto;
}

.search .option li {
    list-style: none;
    padding: 8px 12px;
    cursor: default;
    border-radius: 3px;
    color: #FBFBFB;
    font-family: 'FuturaBookC';
    font-size: 18px;
    display: none;
    text-align: left;
    width: 100%;
    

}

.search.active .option li {
    display: block;
}

.search.active .option li span {
    color: #535353;
    font-family: 'FuturaBookC';
    font-size: 16px;
}

.search .option li:hover {
    background-color: #fba333;
}