.container.create-app {
    width: 100vw;
    height: 80vh;

    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.container.create-app .create-app__form__additional,
.container.create-app .create-app__form__main {
    width: 80%;
    justify-self: center;
    align-self: center;
    text-align: center;

    padding-bottom: 10vh;
}

.container.create-app .create-app__form__additional input,
.container.create-app .create-app__form__main input {
    margin-bottom: 5px;
}

.container.create-app .create-app__form__additional .input__common__submit,
.container.create-app .create-app__form__main .input__common__submit {
    margin-top: 20px;
}