.container.create-app {
    display: grid;
    padding: 0;
    margin: 0;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-rows: 20% 75% 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
}

