.change_price__modal-window__bg {
    z-index: 200;
    top: 0;
    left: 0;
    position: fixed;
    display: grid;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(22, 22, 22, 0.5);
}

.change_price__modal-window__content {
    z-index: 201;

    height: auto;
    padding-bottom: 10px;
    width: 100vw;
    
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background-color: #181818;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    
}

.change_price__modal-window__content form {
    width: 95%;
    justify-self: center;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 55px;
}

.change_price__modal-window__title {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;

    display: grid;
    align-content: center;
    
    font-size: 20px;
    font-family: "FuturaDemiC";
    color: #fbfbfb;
}

.change_price__modal-window__text {
    font-size: 16px;
    font-family: "FuturaDemiC";
    color: #9B5E5D;
    justify-self: center;
    text-align: center;
    width: 80%;
}

.change_price__modal-window__close-btn {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 40px;
    background-image: url('../../../static/icons/close.png');
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
    justify-self: flex-end;
}


.change_price__modal-window__content form .input__common {
    justify-self: center;
    width: calc((100% - 5%) - 10px);
    margin-left: calc((100% - 95%) / 2);
}


.change_price__modal-window__content button {
    margin-top: 10px;
    justify-self: center;
    align-self: flex-start;
}
.change_price__modal-window__content button:hover {
    background-color: #fba333;
    color: #181818;
}


/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    
    .change_price__modal-window__content form  {
        width: 95%;
        grid-template-rows: 80px 90px;
    }
    
    .change_price__modal-window__title {
        font-size: 24px;
    }

    .change_price__modal-window__text {
        font-size: 18px;
    }
    
    .change_price__modal-window__close-btn {
        width: 55px;
        height: 45px;
        background-size: 30px 30px;
    }     
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) {
    .change_price__modal-window__content {
        width: 40vw;
        margin-left: 30vw;
    }

    .change_price__modal-window__content input {
        height: 60px;
    }

    .change_price__modal-window__content form {
        grid-template-rows: 70px 70px;
    }
    
    .change_price__modal-window__title{
        font-size: 26px;
    }
    
    .change_price__modal-window__close-btn {
        width: 60px;
        height: 50px;
        background-size: 35px 35px;
    }

    .change_price__modal-window__text {
        font-size: 20px;
    }
        
}
