header {
    top: 0;
    left: 0;
    position: relative;
    z-index: 50;
    
    background-color: transparent;
    height: 10vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
}



header .header__common__previous-page {
    background-image: url('../../../static/icons/left.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

header .header__common__dropdown-btn {
    background-image: url('../../../static/icons/menu.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

header .header__common__page-name {
    color: #FBFBFB;
    font-size: 20px;
    font-family: 'FuturaDemiC';
    justify-self: center;
    align-self: center;
}


@media screen and (min-width:361px) and (max-width:400px) {
    header .header__common__page-name {
        font-size: 22px;
    }
}

@media screen and (min-width:401px) and (max-width:414px) {
    header .header__common__page-name {
        font-size: 24px;
    }
}


@media (min-device-width: 600px) and (max-device-width: 800px) 
and (orientation: portrait) {
    header .header__common__page-name {
        font-size: 28px;
    }
    header .header__common__previous-page,
    header .header__common__dropdown-btn {
        background-size: 30px 30px;
    }
}