.navbar__common {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    
    background-color: #181818;
    height: 10vh;
    width: 100vw;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.navbar__common .navbar__common__btn {
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
   
    background-size: 30px 30px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.navbar__common a[id=notifications] {
    position: relative;
}

.navbar__common .navbar__common__notification__circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #9B5E5D;
    position: absolute;
    top: 0px;
    right: 0px;

    display: grid;
    justify-content: center;
    align-content: center;

}
.navbar__common .navbar__common__notification__circle p {
    color: #FBFBFB;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'FuturaDemiC';
}


.navbar__common a[id=home] {
    background-image: url('../../../static/icons/default/home.png');
}
.navbar__common a[id=home]:active {
    background-image: url('../../../static/icons/active/home.png');
}

.navbar__common a[id=history] {
    background-image: url('../../../static/icons/default/history.png');
}
.navbar__common a[id=history]:active {
    background-image: url('../../../static/icons/active/history.png');
}

.navbar__common a[id=notifications] {
    background-image: url('../../../static/icons/default/notification.png');
}
.navbar__common a[id=notifications]:active {
    background-image: url('../../../static/icons/active/notification.png');
}

.navbar__common a[id=cabinet] {
    background-image: url('../../../static/icons/default/cabinet.png');
}
.navbar__common a[id=cabinet]:active {
    background-image: url('../../../static/icons/active/cabinet.png');
}

/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .navbar__common .navbar__common__btn {
        width: 50px;
        height: 50px;
        background-size: 45px 45px;
    }

    .navbar__common .navbar__common__notification__circle {
        height: 30px;
        width: 30px;
    }

    .navbar__common .navbar__common__notification__circle p {
        font-size: 15px;
    }
}


@media (min-width: 1024px) {
    .navbar__common {
        top: 30vh;
        left: 10px;
        position: fixed;
        z-index: 100;
        
        background-color: #181818;
        height: 350px;
        width: 100px;
    
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .navbar__common .navbar__common__btn {
        width: 60px;
        height: 60px;
        background-size: 45px 45px;
    }

    .navbar__common .navbar__common__notification__circle {
        height: 30px;
        width: 30px;
        top: -10px;
        right: 0px;
    }

    .navbar__common .navbar__common__notification__circle p {
        font-size: 16px;
    }
    
}