.navbar {
    z-index: 100;
    border-top: 1px solid #262626;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222222;
    height: 70px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.navbar .nav_btn {
    color: transparent;
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;

    background-size: 30px 30px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.navbar a[id=home] {
    background-image: url('../../../static/icons/default/home.png');
}
.navbar a[id=home]:active {
    background-image: url('../../../static/icons/active/home.png');
}

.navbar a[id=history] {
    background-image: url('../../../static/icons/default/history.png');
}
.navbar a[id=history]:active {
    background-image: url('../../../static/icons/active/history.png');
}

.navbar a[id=notifications] {
    background-image: url('../../../static/icons/default/notification.png');
}
.navbar a[id=notifications]:active {
    background-image: url('../../../static/icons/active/notification.png');
}

.navbar a[id=cabinet] {
    background-image: url('../../../static/icons/default/cabinet.png');
}
.navbar a[id=cabinet]:active {
    background-image: url('../../../static/icons/active/cabinet.png');
}