.notify__common {
    text-align: center;
    width: 80%;
}



.notify__common .notify__common__title {
    font-size: 24px;
    font-family: 'FuturaBookC';
    color: gray;
}


.notify__common .notify__common__text {
    font-size: 20px;
    font-family: 'FuturaBookC';
    color: gray;
}
