.response-notify__common__border {
    opacity: 0;
    transition: opacity 1000ms;
    border-radius: 3px;
    height: 70px;
    width: 350px;
    margin-left: calc((100vw - 350px) / 2);
    margin-bottom: 10%;
    padding: 3px;
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;

}

.response-notify__common__border.success {
    background: linear-gradient(to right, #28a71a -20%, #222222 65%);
}

.response-notify__common__border.error {
    background: linear-gradient(to right, #b92b21 -20%, #222222 65%);
}

.response-notify__common__text {
    font-family: "FuturaDemiC";
    font-size: 16px;
}

.response-notify__common__text.success {
    color: #28a71a
}

.response-notify__common__text.error {
    color: #b92b21
}

.response-notify__common__detail {
    width: 4px;
    height: 55%;
    border-radius: 5px;
}

.response-notify__common__detail.success {
    background: #28a71a
}

.response-notify__common__detail.error {
    background: #b92b21
}

.response-notify__common__content {
    height: 64px;
    padding: 3px;  
    background: #181818;

    display: grid;
    grid-template-columns: 5% 80% 15%;
    align-items: center;
    align-content: center;
} 

.response-notify__common__close-btn {
    margin-right: 10px;
    width: 50px;
    height: 40px;
    background-image: url('../../../static/icons/close.png');
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
}




/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) {
    .response-notify__common__border {
        height: 100px;
        width: 500px;
        margin-left: calc((100vw - 500px) / 2);  
    }
    
    .response-notify__common__text {
        font-size: 24px;
    }
    
    
    .response-notify__common__content {
        height: 94px;    
    } 
    
    .response-notify__common__close-btn {
        width: 55px;
        height: 45px;
        background-size: 25px 25px;
        justify-self: flex-end;
    }
    
    
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .response-notify__common__border {
        height: 100px;
        width: 600px;
        margin-left: calc((100vw - 600px) / 2);  
    }
    
    .response-notify__common__text {
        font-size: 26px;
    }
    
    
    .response-notify__common__content {
        height: 94px;    
    } 
    
    .response-notify__common__close-btn {
        width: 60px;
        height: 50px;
        background-size: 30px 30px;
        justify-self: flex-end;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .response-notify__common__border {
        height: 100px;
        width: 800px;
        margin-left: calc((100vw - 800px) / 2);  
    }
    
    .response-notify__common__text {
        font-size: 28px;
    }
    
    
    .response-notify__common__content {
        height: 94px;    
    } 
    
    .response-notify__common__close-btn {
        width: 65px;
        height: 55px;
        background-size: 35px 35px;
        justify-self: flex-end;
    }
}