.ticket {
    margin: 5px;
    background-color: #413a46;
    width: 380px;
    height: 150px;
    border-radius: 20px;
    position: relative;
}


.ticket .ticket_design {
    position: absolute;
    width: 80vw;
    height: 150px;
    background-image: url(../../../static/images/russia.png);
    background-size: 80vw 150px;
    background-position-x: center;
    margin-left: 20px;
    opacity: 0.1;
    z-index: 3;
}

.ticket .circle {
    position: absolute;
    top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 4;
    overflow:hidden;
}

.ticket #left {
    left: -35px;
    background-color: #37313f;
}

.ticket #right {
    right: -35px;
    background-color: #3a3442;
}

.ticket_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 45% 20%;
    grid-template-rows: 65% 35%;
}

.ticket_content .points {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-right: 0px;
    align-items: flex-end;
    justify-self: flex-end;
}

.ticket_content .points p {
    justify-self: end;
    padding: 0;
    margin: 0;
    text-align: center;
}

.ticket_content .points .city {
    font-size: 18px;
    font-family: 'FuturaDemiC';
}

.ticket_content .points .annotation {
    font-size: 15px;
    font-family: 'FuturaBookC';
    color: gray;
}

.ticket_content .points .from {
    padding-left: 10px;
    color: whitesmoke;
}

.ticket_content .points .to {
color: #fba333;
}

.ticket_content .date {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;

}
.ticket_content .date p {
    font-size: 16px;
    font-family: 'FuturaDemiC';
    color: whitesmoke;
}


.ticket_content .info {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 1fr;
    font-size: 14px;
    font-family: 'FuturaBookC';
    color: gray;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.ticket_content .info p span {
    font-family: 'FuturaDemic';
    color: whitesmoke;
    font-size: 16px;
}

.ticket_content .info .type_app {
    text-align: left;
    padding-left: 15px;
}