.transport {
    margin-top: 10px;
    width: 95vw;
    height: 180px;
    display: grid;
    background-color: #222222;
    grid-template-rows: 130px 50px;
    grid-template-columns: 200px 1fr;
    border: 1px solid rgb(46, 44, 45);
    border-radius: 5px;
}

.transport .photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 180px;
    width: 200px;
    background-image: url(../../../static/images/bus1.jpg);
    background-size: 200px 180px;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 5px;
}

.transport .info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;
}

.transport .info p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.transport .info p[class=parametr] {
   color: #535353;
   font-family: 'FuturaBookC';
   font-size: 16px;
}

.transport .info p[class=parametr] span {
    color: #FBFBFB;
    font-size: 16px;
    font-family: 'FuturaMediumC';
}

.transport .info p[id=model] {
    margin-top: 10px;
    color: #FBFBFB;
    font-size: 18px;
    font-family: 'FuturaMediumC';
}

/* color: #636363; */
.transport .controls {
    border-top: 1px solid #2e2e2e;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
}
.transport .controls .control_icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    box-shadow: 5px 2px 0px -4px #2e2e2e;
}
.transport .controls a[id=contacts] {
    background-size: 25px 25px;
    background-image: url("../../../static/icons/telephone.png");
}

.transport .controls div[id=info] {
    background-size: 35px 35px;
    background-image: url("../../../static/icons/driver-license-card.png");
}

.transport .controls div[id=offer] {
    background-size: 18px 25px;
    background-image: url("../../../static/icons/app.png");
}


.transport .transport_card {
    opacity: 0.95;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #222222;
    height: 180px;
    width: 100%;
    border: 1px solid #262626;
}

.transport .transport_card .close_card {
    width: 50px;
    height: 50px;
    background-image: url('../../../static/icons/close.png');
    background-size: 30px 30px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
}
.transport .transport_card div {
    margin-left: 5px;
}
.transport .transport_card div .parametr {
    color: #535353;
    font-family: 'FuturaMediumC';
    font-size: 16px;
}

.transport .transport_card div span {
    color: #FBFBFB;
    font-size: 16px;
    font-family: 'FuturaDemiC';
}

.transport .transport_card div[id=transport] span {
    font-size: 14px;
}