.transport_card__modal-window__bg {
    z-index: 250;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(22, 22, 22, 0.5);

}

.transport_card__modal-window__content {
    z-index: 251;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 90%;
    width: 100vw;
    
    background-color: #181818;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
}

.transport_card__modal-window__card::-webkit-scrollbar,
.transport_card__modal-window__content::-webkit-scrollbar {
    display: none;
}

.transport_card__modal-window__card,
.transport_card__modal-window__content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.transport_card__modal-window__content .transport_card__modal-window__title {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;

    display: grid;
    align-content: center;
    
    font-size: 20px;
    font-family: "FuturaDemiC";
    color: #fbfbfb;
}

.transport_card__modal-window__content .transport_card__modal-window__close-btn {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 40px;
    background-image: url('../../../static/icons/close.png');
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right;
    justify-self: flex-end;
}

.transport_card__modal-window__content .transport_card__modal-window__card {
    justify-self: center;
    height: 85%;
    width: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.transport_card__modal-window__card {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 1fr;
    
}


.transport_card__modal-window__card .transport_card__photos {
    grid-row: 1 / 2;
    width: 100%;
    max-width: 800px;
    justify-self: center;
    height: 225px;

    display: grid;
    grid-template-columns: 70% 30%;
    gap: 5px
} 

.transport_card__photos .transport_card__photo{
    grid-column: 1 / 2;
    width: 100%;
    height: 225px;
    border-radius: 2px;
}

.transport_card__photos .transport_card__other-photos {
    grid-column: 2 / 3;
}

.transport_card__photos .transport_card__other-photos div{
    height: 68.5px;
    width: 90%;
    border: 1px dashed #535353;

    margin-bottom: 5px;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.transport_card__photos .transport_card__other-photos div p {
    color: #535353;
    font-size: 16px;
    font-family: "FuturaDemiC"; 
}

.transport_card__modal-window__card .transport_card__details {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto 1fr;
}

.transport_card__details .transport_card__detail {
    color: #fbfbfb;
    font-family: "FuturaDemiC";
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.transport_card__details .transport_card__detail span {
    color: #6e6e6e;
    font-size: 16px;
    font-family: "FuturaBookC";
}

.transport_card__details .transport_card__detail span[id='personal'] {
    color: #fba333;
}

.transport_card__details .transport_card__detail.transport-name {
    grid-column: 1 / 2;
    font-size: 20px;
}

.transport_card__details .transport_card__detail.state-number {
    grid-column: 2 / 3;
    color: #fba333;
    font-size: 15px;
    margin-top: 4px;
}


.transport_card__details .transport_card__additionals {
    margin-top: 10px;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20px);
    gap: 5px
}

/* ADAPTIVE 768-801 */
@media (min-width: 641px) and (max-width: 1023px) 
and (orientation: portrait) {
    .transport_card__modal-window__card {
        grid-template-rows: 330px 1fr;
    }
    .transport_card__modal-window__content .transport_card__modal-window__title {
        font-size: 26px;
    }
    
    .transport_card__modal-window__content .transport_card__modal-window__close-btn {
        width: 55px;
        height: 45px;
        background-size: 30px 30px;
    }
    
    
    .transport_card__modal-window__card .transport_card__photos {
        height: 325px;
    } 
    
    .transport_card__photos .transport_card__photo{
        height: 325px;
    }
    
    .transport_card__photos .transport_card__other-photos div{
        height: 101.5px;
        width: 90%;
        margin-bottom: 5px;
    }
    
    .transport_card__photos .transport_card__other-photos div p {
        font-size: 22px;
    }

    .transport_card__details .transport_card__additionals {
        gap: 15px
    }
    
    .transport_card__details .transport_card__detail {
        font-size: 22px;
    }
    
    .transport_card__details .transport_card__detail span {
        font-size: 22px;
    }
    
    .transport_card__details .transport_card__detail.transport-name {
        font-size: 24px;
    }
    
    .transport_card__details .transport_card__detail.state-number {
        font-size: 22px;
        margin-top: 4px;
    }
}

 /* ADAPTIVE 1024,1280,1337,1440px */
@media (min-width: 1024px) and (max-width: 1535px) {
    .transport_card__modal-window__content {
        width: 55vw;
        margin-left: 22.5vw;
    }

    
    .transport_card__modal-window__card {
        grid-template-rows: 300px 1fr;
    }
    .transport_card__modal-window__content .transport_card__modal-window__title {
        font-size: 26px;
    }
    
    .transport_card__modal-window__content .transport_card__modal-window__close-btn {
        width: 60px;
        height: 50px;
        background-size: 35px 35px;
    }
    
    
    .transport_card__modal-window__card .transport_card__photos {
        height: 300px;
    } 
    
    .transport_card__photos .transport_card__photo{
        height: 300px;
    }
    
    .transport_card__photos .transport_card__other-photos div{
        height: 94.5px;
        width: 90%;
        margin-bottom: 5px;
    }
    
    .transport_card__photos .transport_card__other-photos div p {
        font-size: 20px;
    }

    .transport_card__details .transport_card__additionals {
        gap: 10px
    }
    
    .transport_card__details .transport_card__detail {
        font-size: 20px;
    }
    
    .transport_card__details .transport_card__detail span {
        font-size: 20px;
    }
    
    .transport_card__details .transport_card__detail.transport-name {
        font-size: 22px;
    }
    
    .transport_card__details .transport_card__detail.state-number {
        font-size: 20px;
        margin-top: 4px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .transport_card__modal-window__content {
        width: 45vw;
        margin-left: 27.5vw;
    }

    
    .transport_card__modal-window__card {
        grid-template-rows: 400px 1fr;
    }
    .transport_card__modal-window__content .transport_card__modal-window__title {
        font-size: 26px;
    }
    
    .transport_card__modal-window__content .transport_card__modal-window__close-btn {
        width: 65px;
        height: 55px;
        background-size: 40px 40px;
    }
    
    
    .transport_card__modal-window__card .transport_card__photos {
        height: 400px;
    } 
    
    .transport_card__photos .transport_card__photo{
        height: 400px;
    }
    
    .transport_card__photos .transport_card__other-photos div{
        height: 127.5px;
        width: 90%;
        margin-bottom: 5px;
    }
    
    .transport_card__photos .transport_card__other-photos div p {
        font-size: 22px;
    }

    .transport_card__details .transport_card__additionals {
        gap: 10px
    }
    
    .transport_card__details .transport_card__detail {
        font-size: 22px;
    }
    
    .transport_card__details .transport_card__detail span {
        font-size: 22px;
    }
    
    .transport_card__details .transport_card__detail.transport-name {
        font-size: 24px;
    }
    
    .transport_card__details .transport_card__detail.state-number {
        font-size: 22px;
        margin-top: 4px;
    }
}