.switch__card {
    position: relative;

    height: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    justify-self: center;
}

.switch__card p {
    margin: 0;
    padding: 0;
    
    color: #FBFBFB;
    font-size: 14px;
    font-family: 'FuturaDemiC';
    
    height: 45px;
    width: 100%;
    border: 1px solid #262626;
    border-radius: 5px;

    text-align: center;
    display: grid;
    align-items: center;

    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.switch__card .switch__card__item.active {
    color: #fba333;
    opacity: 1;
    border: 1px solid #fba333
}

.switch__card .switch__card__item.no-active {
    opacity: 0.3;
}

.switch__card .switch__card__item.disable {
    opacity: 0.3;
    pointer-events: none;
}

.switch__card #form {
    background-image: url('../../../../static/icons/default/description.png');
}
.switch__card #form.active {
    background-image: url('../../../../static/icons/active/description.png');
}

.switch__card #card {
    background-image: url('../../../../static/icons/default/driver_card.png');
}
.switch__card #card.active {
    background-image: url('../../../../static/icons/active/driver_card.png');
}

.switch__card #personal {
    background-image: url('../../../../static/icons/default/driver_card.png');
}
.switch__card #personal.active {
    background-image: url('../../../../static/icons/active/driver_card.png');
}

.switch__card #company {
    background-image: url('../../../../static/icons/default/company_card.png');
}
.switch__card #company.active  {
    background-image: url('../../../../static/icons/active/company_card.png');
}

@media (min-width: 414px) and (max-width: 640px) {
    .switch__card p {
        background-size: 25px;
    }
    
}
/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .switch__card {
        height: 50px;
    }
    .switch__card p {
        height: 50px;
        font-size: 18px;
        background-position: 15px center;
        background-size: 30px;
    }
}


 /* ADAPTIVE 1024,1280,1337,1440px */
 @media (min-width: 1024px) and (max-width: 1535px) {
    .switch__card {
        height: 55px;
    }
    .switch__card p {
        height: 55px;
        font-size: 22px;
        background-position: 20px center;
        background-size: 35px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .switch__card {
        height: 60px;
    }
    .switch__card p {
        height: 60px;
        font-size: 24px;
        background-position: 25px center;
        background-size: 40px;
    }
}