.switch__cabinet {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    height: 30px;
}

.switch__cabinet p {
    margin: 0;
    padding: 0;
    display: inline;
    color: #FBFBFB;
    font-size: 18px;
    font-family: 'FuturaDemiC';
    padding-right: 5px;
}

.switch__cabinet .switch__cabinet__item.active {
    color: #fba333;
    opacity: 1;
}

.switch__cabinet .switch__cabinet__item.no-active {
    opacity: 0.3;
    font-size: 16px;
}

.switch__cabinet #company {
    right: 0;
    top: 0;
    position: absolute;
}

/* ADAPTIVE 768-801-1024px */
@media (min-width: 641px) and (max-width: 1023px) {
    .switch__cabinet p {
        font-size: 24px;
    }
    .switch__cabinet .switch__cabinet__item.no-active {
        font-size: 20px;
    }
}


 /* ADAPTIVE 1024,1280,1337,1440px */
 @media (min-width: 1024px) and (max-width: 1535px) {
    .switch__cabinet p {
        font-size: 26px;
    }
    .switch__cabinet .switch__cabinet__item.no-active {
        font-size: 22px;
    }
}

 /* ADAPTIVE 1536px and more */
@media (min-width: 1536px) {
    .switch__cabinet p {
        font-size: 28px;
    }
    .switch__cabinet .switch__cabinet__item.no-active {
        font-size: 24px;
    }
}