.filters form {
    width: 95%;
    justify-self: center;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto 1fr;
}

.filters form .search-selector__input__common {
    justify-self: center;
    width: calc((100% - 5%) - 10px);
    margin-left: calc((100% - 95%) / 2);
}

.filters form .search-selector__option {
    width: calc((100% - 5%) - 10px);
    margin-left: calc((100% - 95%) / 2);
}

.filter.types {
    margin-top: 5px;
    width: 95%;
    justify-self: center;
    height: 280px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    grid-template-rows: repeat(4, 65px);
    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

.filter.types::-webkit-scrollbar {
    display: none;
}

.filter.types  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.filter.types .type {
    height: 65px;
    
    border: 1px solid #262626;
    border-radius: 5px;

    display: grid;
    grid-template-rows: 50% 50%;
    align-items: flex-end;

    background-position-y: 10px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.filter.types .type p {
    color: #6e6e6e;
    font-size: 14px;
    font-family: "FuturaBookC";
    text-align: center;
    grid-row: 2 / 3;
    align-self: center;
}

.filter.types .type.active {
    border: 1px solid #fba333;
}

.filter.types .type.active p {
    color: #fba333;
}

.filters.modal-window__content form button {
    margin-top: 10px;
    justify-self: center;
    align-self: flex-start;
}

.filters.modal-window__content button:hover {
    background-color: #fba333;
    color: #181818;
}



/* ADAPTIVE 768-801-1024px */
@media (min-width: 640px) {
    .filters form {
        grid-template-rows: 80px auto 1fr;
    }

    .filter.types {
        height: 380px;
        grid-template-rows: repeat(4, 90px);
    }

    .filter.types .type {
        height: 90px;
        background-size: 40px;
    }

    .filter.types .type p {
        font-size: 22px;
    }
}

@media (min-width: 1024) and (max-width: 1535px) {
    .filter.types {
        margin-top: 5px;
    }
}

@media (min-width: 1536px) {
    .filter.types {
        margin-top: 15px;
    }
}